﻿@model RBL.Models.UserComman
@using Newtonsoft.Json;

@{
    ViewBag.Title = "Details of User " + Model.Name;
}


    <div class="data-container rbl-add-user-padding-top-10">
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        @Html.HiddenFor(x => x.Id)
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Name" ,disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Name">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Email ID", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Email ID">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        @*<div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Password", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Password">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>*@
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.EmpCode, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.EmpCode, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Desk No.", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.EmpCode, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Mobile/Desk No.">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Mobile No.", disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Mobile/Desk No.">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title">@Html.LabelFor(model => model.Role, htmlAttributes: new { @class = "control-label col-md-2" })</div>
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <div class="subcategory-dropdown">
                        <div class="input-group-btn search-panel5">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" disabled aria-expanded="false">
                                <span id="search_concept5">Select Role</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @foreach (var item in Model.RoleList)
                                {
                                    if (Model.Role == item.Id)
                                    {
                                        <script>
                                            var selectedRole = "role-@item.Id";
                                        </script>
                                    }
                                    <li><a href="#@item.Id" id="role-@item.Id" value="@item.Id" data-roles="@JsonConvert.SerializeObject(item.permissions)">@item.RoleName</a></li>
                                }
                            </ul>
                            @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-errr" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                <div class="form-field-title"></div>
            </div>

            <div class="col-lg-10">
                <fieldset>
                    <div class="add-user-form-field">
                        <div class="table">
                            <div class="cell">
                                @{
                                    foreach (var option in Model.CategoryPermission)
                                    {
                                        <div class="admin-check-btn" data-toggle="buttons">
                                            <label class="btn btn-default disabled all permission-@option.Id">
                                                <input type="checkbox" name="CategoryManagement" id="CategoryManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            <label for="CategoryManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="add-user-form-field">
                        <div class="table">
                            <div class="cell">
                                @{ var isfirst = true;
                                    foreach (var option in Model.FilePermission)
                                    {
                                        <div class="admin-check-btn" data-toggle="buttons">
                                            <label class="btn btn-default disabled all permission-@option.Id">
                                                <input type="checkbox" name="FileManagement" id="FileManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            @if (isfirst)
                                            {
                                                <label for="FileManagement_@option.Id" class="admin-check-txt">@option.Type</label>
                                                isfirst = false;
                                            }
                                            else
                                            {
                                                <label for="FileManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                            }

                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="add-user-form-field">
                        <div class="table">
                            <div class="cell">
                                @{ isfirst = true;
                                    foreach (var option in Model.UserPermission)
                                    {
                                        <div class="admin-check-btn" data-toggle="buttons">
                                            <label class="btn btn-default disabled all permission-@option.Id">
                                                <input type="checkbox" name="FileManagement" id="FileManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)" autocomplete="off">
                                                <span class="glyphicon glyphicon-ok"></span>
                                            </label>
                                            @if (isfirst)
                                            {
                                                <label for="FileManagement_@option.Id" class="admin-check-txt">@option.Type</label>
                                                isfirst = false;
                                            }
                                            else
                                            {
                                                <label for="FileManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                            }

                                        </div>

                                    }
                                }
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width">
            <div class="admin-submit-btns rbl-padding-top-botton-15">
                <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/User")'">
            </div>
        </div>
        <div class="full-width">
        </div>
    </div>



@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function (e) {
            $(".btn-default").click(function (e) { e.stopPropagation(); e.preventDefault(); })
            $('.search-panel5 .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#","");
                var concept = $(this).text();
                var value = $(this).attr("value");
                $("#Role").val(value);
                $('.search-panel5 span#search_concept5').text(concept);
                var allPermisssions = JSON.parse($(this).attr("data-roles"));
                $(".all").removeClass("active");
                var length = allPermisssions.length;
                for (var i = 0; i < length; i++) {
                    $(".permission-" + allPermisssions[i]).addClass("active");
                }
//            $('.input-group #search_param').val(param);
        });

        if (window.selectedRole != undefined) {
            $("#"+window.selectedRole).trigger('click');
        }
    });
    </script>
}