﻿@model IEnumerable<RBL.Models.UserList>
@using RBL.Enums;

@{
    ViewBag.Title = "Available Users";
}
@{ var permmissions = (long?[])Session["permission"]; }
@if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserAdd)))
            {
    <a href="@Url.Action("Create")">
        <button type="button" class="admin-button btn-default">
            <span class="fa fa-plus-circle"></span>&nbsp;Add User
        </button>
    </a>
}
    @Html.ValidationSummary(true, "", new { @class = "alert alert-success fade in alert-dismissable" })
<div class="data-container rbl-padding-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="user-manage-td-width1 text-center">Sr. No</th>
                    <th class="user-manage-td-width2 text-center">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="user-manage-td-width3 text-center">@Html.DisplayNameFor(model => model.Email)</th>
                    <th class="user-manage-td-width4 text-center">@Html.DisplayNameFor(model => model.EmpCode)</th>
                    <th class="user-manage-td-width5 text-center">@Html.DisplayNameFor(model => model.Mobile)</th>
                    <th class="user-manage-td-width6 text-center">@Html.DisplayNameFor(model => model.Role)</th>
                    <th class="user-manage-td-width7 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0;
                    }
                @if (Model.Count() == 0)
                {
                    <tr> <td align="center" colspan="7" valign="middle"> <span>No User Found</span> </td> </tr>
                }
                @foreach (var item in Model)
{
    count++;
                    <tr>
                        <td style="vertical-align: middle" class="text-center">@count</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.Email)</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.EmpCode)</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.Mobile)</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.Role)</td>
                        <td style="vertical-align: middle" class="text-center">
                            @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserView)))
                            {
                            <a href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i></a>
                            }
                            @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserEdit)))
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.Id})"><i class="fa  fa-mar-5  @{ @((bool)item.IsActive ?  "fa-check fa-color-green" : "fa-times fa-color-orange" )}" data-toggle="tooltip" data-placement="top" title='@{ @((bool)item.IsActive ?  "Active" : "InActive" )}'></i></a>
                            }
                            @*<i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i>
                                <i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                <i class="fa fa-times fa-mar-5 fa-color-orange" data-toggle="tooltip" data-placement="top" title="Delete"></i>*@
                        </td>
                    </tr>
    }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

}
