﻿@model IEnumerable<RBL.Models.RolesList>
@using RBL.Enums

@{
    ViewBag.Title = "Available Roles";
}
@{ var permmissions = (long?[])Session["permission"]; }
@if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserAdd)))
{
    <a href="@Url.Action("RolesCreate")">
        <button type="button" class="admin-button btn-default">
            <span class="fa fa-plus-circle"></span>&nbsp;Add&nbsp;Role
        </button>
    </a>
}
@Html.ValidationSummary(true, "", new { @class = "alert alert-success fade in alert-dismissable" })
<div class="data-container rbl-padding-5">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="user-manage-td-width1 text-center">Sr. No</th>
                    <th class="user-manage-td-width3 text-center">@Html.DisplayNameFor(model => model.RoleName)</th>
                    <th class="user-manage-td-width4 text-center">@Html.DisplayNameFor(model => model.Date)</th>
                    <th class="user-manage-td-width5 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @{ var count = 0;}
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td style="vertical-align: middle" class="text-center">@count</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.RoleName)</td>
                        <td style="vertical-align: middle" class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                        <td style="vertical-align: middle" class="text-center">
                            @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserView)))
                            {
                                <a href="@Url.Action("RolesDetails", new { id = item.Id })"><i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i></a>
                            }
                            @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.UserEdit)))
                            {
                                <a href="@Url.Action("RolesEdit", new { id = item.Id })"><i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                <a href="@Url.Action("RolesDelete", new { id = item.Id, returnUrl ="RoleIndex" })"><i class="fa  fa-mar-5  @{ @((bool)item.isActive ?  "fa-check fa-color-green" : "fa-times fa-color-orange" )}" data-toggle="tooltip" data-placement="top" title='@{ @((bool)item.isActive ?  "Active" : "InActive" )}'></i></a>
                            }
                            @*<i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i>
                            <i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                            <i class="fa fa-times fa-mar-5 fa-color-orange" data-toggle="tooltip" data-placement="top" title="Delete"></i>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {

    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>

}
