﻿@model RBL.Models.RolesComman
@using RBL.Helpers;
@using System;

@{
    ViewBag.Title = "Edit Role";
}

@using (Html.BeginForm("RolesEdit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id);

                                    <div class="data-container rbl-padding-top-40">
                                        <div class="full-width rbl-margin-bottom-10">
                                            @Html.ValidationSummary(true, "", new { @class = "text-errr" })
                                            <div class="col-lg-2">
                                                <div class="form-field-title">Name</div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="form-field">
                                                    @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter Name", @id = "disabledInput" } })
                                                    @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-errr" })
                                                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Name">*@
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="full-width rbl-margin-bottom-10">
                                            <div class="col-lg-2">
                                                <div class="form-field-title">Permissions</div>
                                            </div>
                                            <div class="col-lg-10">
                                                <div class="form-field">
                                                    <div class="table">
                                                        <div class="cell">
                                                            @{ var list = (List<long?>)@ViewBag.permissions; }
                                                            @{
                                                                var isShow = false;
                                                                foreach (var option in Model.CategoryPermission)
                                                                {
                                                                    isShow = (list.FindIndex(x => x == System.Convert.ToInt64(option.Id))) >= 0;
                                                                            <div class="admin-check-btn" data-toggle="buttons">
                                                                                <label class="btn btn-default  @{ @(isShow? "active" : "");} ">
                                                                                    <input type="checkbox" name="CategoryManagement" id="CategoryManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)"  @{ @( isShow ? "checked='checked'" : "");}  autocomplete="off">
                                                                                    <span class="glyphicon glyphicon-ok"></span>
                                                                                </label>
                                                                                <label for="CategoryManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                                                            </div>
                                                                        }
                                                            }
                                                            @Html.ValidationMessageFor(model => model.CategoryManagement, "", new { @class = "text-errr" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field">
                                                    <div class="table">
                                                        <div class="cell">
                                                            @{ var isfirst = true;
                                                                foreach (var option in Model.FilePermission)
                                                                {
                                                                    isShow = (list.FindIndex(x => x == System.Convert.ToInt64(option.Id))) >= 0;
                                                                    <div class="admin-check-btn" data-toggle="buttons">
                                                                        <label class="btn btn-default  @{ @(isShow? "active" : "");} ">
                                                                            <input type="checkbox" name="CategoryManagement" id="FileManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)"  @{ @( isShow ? "checked='checked'" : "");}  autocomplete="off">
                                                                            <span class="glyphicon glyphicon-ok"></span>
                                                                        </label>
                                                                        @if (isfirst)
                                                                        {
                                                                            <label for="FileManagement_@option.Id" class="admin-check-txt">@option.Type</label>
                                                                            isfirst = false;
                                                                        }
                                                                        else
                                                                        {
                                                                            <label for="FileManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                                                        }

                                                                    </div>
                                                                    @*<div>
                                                                            @Html.CheckboxGroup(model => model.FileManagement, System.Convert.ToInt32(option.Id));
                                                                            @Html.Label("SelectTypeProjec", option.Type)
                                                                        </div>*@

                                                                }
                                                            }
                                                            @Html.ValidationMessageFor(model => model.FileManagement, "", new { @class = "text-errr" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field">
                                                    <div class="table">
                                                        <div class="cell">
                                                            @{  isfirst = true;
                                                                foreach (var option in Model.UserPermission)
                                                                {
                                                                    isShow = (list.FindIndex(x => x == System.Convert.ToInt64(option.Id))) >= 0;
                                                                    <div class="admin-check-btn" data-toggle="buttons">
                                                                        <label class="btn btn-default  @{ @(isShow? "active" : "");} ">
                                                                            <input type="checkbox" name="CategoryManagement" id="FileManagement_@option.Id" value="@System.Convert.ToInt32(option.Id)" @{ @( isShow ? "checked='checked'" : "") ;} autocomplete="off">
                                                                            <span class="glyphicon glyphicon-ok"></span>
                                                                        </label>
                                                                        @if (isfirst)
                                                                        {
                                                                            <label for="FileManagement_@option.Id" class="admin-check-txt">@option.Type</label>
                                                                            isfirst = false;
                                                                        }
                                                                        else
                                                                        {
                                                                            <label for="FileManagement_@option.Id" class="admin-check-txt rbl-checkbox-pd-right-87">@option.Type</label>
                                                                        }

                                                                    </div>
                                                                }
                                                            }
                                                            @Html.ValidationMessageFor(model => model.FileManagement, "", new { @class = "text-errr" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="full-width rbl-add-rol-mar-top-11perc">
                                            <div class="admin-submit-btns rbl-padding-top-botton-15">
                                                <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/User/RoleIndex")'">
                                                @* @Html.ActionLink("Back", "Index", "", new { @class = "", @id = "singlebutton" })// "admin-submit-btn btn btn-basic btn-lg"*@
                                                @*<input type="reset" value="Reset" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" onclick="resetForm()" />*@
                                                <input type="submit" value="Submit" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />
                                                @*<input type="submit" name="submit" value="submit" id="singlebutton" name="singlebutton" class="admin-submit-btn btn btn-basic btn-lg" />
                                                @*<button nclick="document.forms[0].submit()">
                                                        Submit
                                                    </button>
                                                <button id="singlebutton" name="singlebutton" class="admin-submit-btn btn btn-basic btn-lg">
                                                    Reset
                                                </button>*@
                                            </div>
                                        </div>
                                    </div>




                                                                }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
