﻿@model RBL.Models.InsertMediaCommonViewModel
@using RBL.Helpers
@using RBL.Models;

@{
    ViewBag.Title = "Add A Creative";
}


@using (Html.BeginForm("Create", "Media", FormMethod.Post, new { enctype = "multipart/form-data", @onkeypress = "return event.keyCode != 13;" }))
{
    @Html.AntiForgeryToken()
    <div class="data-container">
        <div class="full-width upload-file-top-txt">Add your files by selecting the Category/Sub Category and enter the project details respectively to upload files on our portal</div>
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-4">
                <div class="form-field">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel5">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown">
                                    @if (!String.IsNullOrEmpty(Model.Category))
                                    {
                                        var name = @Model.CategoryList.Where(x => x.Value == Model.Category).Select(x => x.Text).FirstOrDefault();
                                        <span id="search_concept5">@(name ?? "Filter by")</span>
                                    }
                                    else
                                    {
                                        <span id="search_concept5">Select </span>
                                    }
                                    <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="nonSTDCategory" role="menu">
                                @{
                                    foreach (var option in Model.CategoryList)
                                    {
                                        <li>
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Category, new { @id = "StdCategory" })
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-errr rbl-margin-bottom-20" })
                </div>
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(model => model.SubCategory, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-4">
                <div class="form-field">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel6">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown">
                                @if (!String.IsNullOrEmpty(Model.SubCategory))
                                {
                                    var name = @Model.SubCategoryList.Where(x => x.Value == Convert.ToInt64(Model.SubCategory)).Select(x => x.Text).FirstOrDefault();
                                    <span id="search_concept6">@(name ?? "Filter by")</span>
                                }
                                else
                                {
                                    <span id="search_concept6">Select </span>
                                }                            
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="nonSTDSubCategory" role="menu">
                                @{
                                    foreach (SubCategory option in Model.SubCategoryList)
                                    {
                                        <li class="subAll sub@{@option.Id}" style="display:none;">
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.SubCategory, new { @id = "StdSubCategory" })
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.SubCategory, "", new { @class = "text-errr  rbl-margin-bottom-20" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Project, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <div class="table">
                        <div class="cell">
                            <label class="radio-inline">
                                <input type="radio" name="Project" class="projectRadio" id="optionsRadiosInline1" value="@Model.ProjectOption.ElementAt(0).Id" checked><span class="form-field-title">@Model.ProjectOption.ElementAt(0).Type</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Project" class="projectRadio" id="optionsRadiosInline2" value="@Model.ProjectOption.ElementAt(1).Id"><span class="form-field-title">@Model.ProjectOption.ElementAt(1).Type</span>
</label>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10 rbl-margin-bottom-20">
                <div class="form-field">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter text" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10 rbl-margin-bottom-20">
                <div class="form-field-min-h">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" , placeholder = "Description" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.SelectTypeNonProject, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div>
                    <div>@Html.ValidationMessageFor(model => model.imagelist, "", new { @class = "text-errr" })</div>
                    <div>@Html.ValidationMessageFor(model => model.videoThumblist, "", new { @class = "text-errr" })</div>
                    <div>@Html.ValidationMessageFor(model => model.videolist, "", new { @class = "text-errr" })</div>
                    <div>@Html.ValidationMessageFor(model => model.pdfType, "", new { @class = "text-errr" })</div>
                    <div>@Html.ValidationMessageFor(model => model.pdflist, "", new { @class = "text-errr" })</div>
                </div>
                <div class="form-field">
                    <div class="table" id="nonProjectType" style="display:none;">
                        <div class="cell">
                            <label class="radio-inline">
                                <input type="radio" class="SelectTypeNonProject" name="SelectTypeNonProject" id="SelectTypeNonProjectImage" value="1" checked>Images
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="SelectTypeNonProject" name="SelectTypeNonProject" id="SelectTypeNonProjectVideo" value="2">Video
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="SelectTypeNonProject" name="SelectTypeNonProject" id="SelectTypeNonProjectPdf" value="3">PDF
                            </label>
                        </div>
                    </div>
                    <div class="table" id="projectType">
                        <div class="cell">
                            <div class="admin-check-btn" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="checkbox" class="SelectTypeProject image" name="SelectTypeProject" value="1" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">Images</label>
                            </div>
                            <div class="admin-check-btn" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="checkbox" class="SelectTypeProject video" name="SelectTypeProject" value="2" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">Video</label>
                            </div>
                            <div class="admin-check-btn" data-toggle="buttons">
                                <label class="btn btn-default">
                                    <input type="checkbox" class="SelectTypeProject pdf" name="SelectTypeProject" value="3" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">PDF</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-field2 mediaSection" style="display:none;" id="ImageSection">
                    @Html.LabelFor(model => model.imagelist, htmlAttributes: new { @class = "form-field-sub-title" })
                    <div class="admin-input-file">
                        @Html.TextBoxFor(model => model.imagelist, "", new { @type = "file", @id = "input01", @multiple = "multiple", @class = "form-control" })
                    </div>
                    <div class="admin-input-file-txt">(You can upload multiple files)</div>
                    @*<div class="btn-group add-more-btn">
                            <button type="button" class="btn btn-default plus-icon">
                                <span class="fa fa-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default">Add More</button>
                        </div>*@
                    <div class="clearfix"></div>
                   
                    <div class="clearfix"></div>
                </div>
                <div class="form-field2 mediaSection" style="display:none;" id="VideoSection">
                    <div class="col-lg-5">
                        <div class="row">
                            @Html.LabelFor(model => model.videoThumblist, htmlAttributes: new { @class = "form-field-sub-title" })
                            <div class="admin-input-file">
                                @Html.TextBoxFor(model => model.videoThumblist, "", new { @type = "file", @id = "input02", @multiple = "multiple", @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        @Html.LabelFor(model => model.videolist, htmlAttributes: new { @class = "form-field-sub-title" })
                        <div class="admin-input-file">
                            @Html.TextBoxFor(model => model.videolist, "", new { @class = "form-control admin-input", @placeholder = "Enter Path" })
                        </div>
                    </div>
                    @*<div class="btn-group add-more-btn">
                            <button type="button" class="btn btn-default plus-icon">
                                <span class="fa fa-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default">Add More</button>
                        </div>*@
                    <div class="clearfix"></div>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="form-field2 mediaSection" style="display:none;" id="PdfSection">
                    @Html.LabelFor(model => model.pdfType, htmlAttributes: new { @class = "form-field-sub-title" })
                    <div class="pdf-dropdown-m rbl-margin-right-15">
                        <div class="input-group-btn search-panel7">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown">
                                <span id="search_concept7">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @{
                                    foreach (var option in Model.PdfTypeList)
                                    {
                            <li>
                                <a href="#@option.Text" value="@option.Value">@option.Text</a>
                            </li>
                                    }
                                }
                            </ul>
                            @Html.HiddenFor(m => m.pdfType, new { @id = "PdfType" })
                        </div>
                    </div>
                    <div class="admin-input-file">
                        @Html.TextBoxFor(model => model.pdflist, "", new { @type = "file", @id = "input03", @multiple = "multiple" })
                    </div>
                    <div class="admin-input-file-txt">(You can upload multiple files)</div>
                    @*<div class="btn-group add-more-btn">
                            <button type="button" class="btn btn-default plus-icon">
                                <span class="fa fa-plus"></span>
                            </button>
                            <button type="button" class="btn btn-default">Add More</button>
                        </div>*@
                    <div class="clearfix"></div>
                    
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Keywords, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10 rbl-margin-bottom-20">
                <div class="form-field">
                    <input type="text" name="Keywords" placeholder="@(String.IsNullOrEmpty(Model.Keywords)?"Keywords":"")"  value="@Model.Keywords" class="admin-input" id="keywords" />
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10   rbl-margin-bottom-20">
                <div class="form-field">
                    <input type="text" name="Location" placeholder="@(String.IsNullOrEmpty(Model.Location)?"Location":"")" value="@Model.Location" class="admin-input" id="location" />
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10  rbl-margin-bottom-20">
                <div class="form-field">
                    <input type="text" class="admin-input" placeholder="@(String.IsNullOrEmpty(Model.Language)?"Language":"")"  value="@Model.Language" name="Language" id="language" />
                    <div class="clearfix"></div>
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/Media")'">
                    @* @Html.ActionLink("Back", "Index", "", new { @class = "", @id = "singlebutton" })// "admin-submit-btn btn btn-basic btn-lg"*@
                    <input type="reset" value="Reset" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" onclick="resetForm()" />
                    <input type="submit" value="Submit" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />
                    @*@Html.ActionLink("Back", "Index", "", new { @class = "admin-submit-btn btn btn-basic btn-lg", @id = "singlebutton" })
                    <input type="submit" value="Create" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" />*@
                </div>
            </div>
        </div>

        @*<div>
            @Html.ActionLink("Back to List", "Index")
        </div>*@
        </div>
                                    }
        @section Scripts
{
@Scripts.Render("~/bundles/jqueryval")
            <script>
        $(document).ready(function(e){
            $('.search-panel5 .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#StdCategory").val(value);
                $("#StdSubCategory").val(null);
                $(".subAll").hide();
                $(".sub" + value).show(); //
                $('.search-panel6 span#search_concept6').text("Select");
                $('.search-panel5 span#search_concept5').text(concept);
                //            $('.input-group #search_param').val(param);
            });
            $('.search-panel6 .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#StdSubCategory").val(value);
                $('.search-panel6 span#search_concept6').text(concept);
                //            $('.input-group #search_param').val(param);
            });
            $('.search-panel7 .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#PdfType").val(value);
                $('.search-panel7 span#search_concept7').text(concept);
                //            $('.input-group #search_param').val(param);
            });

            /// for project selecttion

            $(".projectRadio").on("change", function (e) {
                e.stopPropagation();
                var type = $('input[name="Project"]:checked').val();
                if (type == "0") {
                    $("#projectType").hide();
                    $("#nonProjectType").show();
                }
                else if (type == "1") {
                    $("#projectType").show();
                    $("#nonProjectType").hide();
                    $(".mediaSection").slideUp();
                }
            });


            // image = 1 video = 2 pdf = 3

            //when project radio are changed to non project
            $(".SelectTypeNonProject, .projectRadio").on("change", function (e) {
                e.stopPropagation();
                var type = $('input[name="SelectTypeNonProject"]:checked').val();
                var projectType = $('input[name="Project"]:checked').val();
                if (type == "1" && projectType != "1") {
                    $(".mediaSection").slideUp();
                    $("#ImageSection").slideDown();
                }
                else if (type == "2" && projectType != "1") {
                    $(".mediaSection").slideUp();
                    $("#VideoSection").slideDown();
                }
                else if (type == "3" && projectType != "1") {
                    $(".mediaSection").slideUp();
                    $("#PdfSection").slideDown();
                }
            });

            //when project radio are changed to project
            $(".SelectTypeProject, .projectRadio").on("change", function (e) {
                e.stopPropagation();
                var type = $('input[name="SelectTypeNonProject"]:checked').val();
                var projectType = $('input[name="Project"]:checked').val();

                if ($(".SelectTypeProject.image")[0].checked == true && projectType == "1") {
                    $("#ImageSection").slideDown();
                }
                else if (projectType == "1")
                {
                    $("#ImageSection").slideUp();
                }

                if ($(".SelectTypeProject.video")[0].checked == true && projectType == "1") {
                    $("#VideoSection").slideDown();
                }
                else if (projectType == "1")
                {
                    $("#VideoSection").slideUp();
                }

                if ($(".SelectTypeProject.pdf")[0].checked == true && projectType == "1") {
                    $("#PdfSection").slideDown();
                }
                else if (projectType == "1")
                {
                    $("#PdfSection").slideUp();
                }
            });



            @{ var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                var words = serializer.Serialize(RBL.Models.MediaModel.getAllkeywords());}
            $('#keywords').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){ return @{WriteLiteral(words); };}
                    }
            });

            @{   words = serializer.Serialize(RBL.Models.MediaModel.getAllLocation());}

            $('#location').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){return @{WriteLiteral(words); };}
                }
            });

            @{   words = serializer.Serialize(RBL.Models.MediaModel.getAllLanguage());}

            $('#language').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){ return @{WriteLiteral(words);  };}
                }
            });

            $("#language, #location, #keywords").keydown(function (event) {
                if (event.keyCode == 13) {

                    return false;
                }
            });
            $('.bootstrap-tagsinput input').keydown(function () { jQuery(this).attr('placeholder', '') })
        });
            </script>

            <script type="text/javascript">

    $('#input01').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
    $('#input02').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
    $('#input03').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
            </script>

        }


