﻿@model RBL.Models.EditMediaViewModel
@using RBL.Helpers
@using RBL.Models;

@{
    ViewBag.Title = "Add A Creative";
}


@using (Html.BeginForm("Create", "Media", FormMethod.Post, new { enctype = "multipart/form-data", @onkeypress = "return event.keyCode != 13;" }))
{
    @Html.AntiForgeryToken()

    <div class="data-container">
        <div class="full-width upload-file-top-txt">Add your files by selecting the Category/Sub Category and enter the project details respectively to upload files on our portal</div>
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-4">
                <div class="form-field">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel5">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" disabled>
                                <span id="search_concept5">@Model.CategoryName</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="nonSTDCategory" role="menu">
                                @{
                                    foreach (var option in Model.CategoryList)
                                    {
                                        <li>
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.Category, new { @id = "StdCategory" })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(model => model.SubCategory, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-4">
                <div class="form-field">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel6">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" disabled>
                                <span id="search_concept6">@Model.SubCategoryName</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" id="nonSTDSubCategory" role="menu">
                                @{
                                    foreach (SubCategory option in Model.SubCategoryList)
                                    {
                                        <li class="subAll sub@{@option.Id}" style="display:none;">
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.SubCategory, new { @id = "StdSubCategory" })
                    @Html.ValidationMessageFor(model => model.SubCategory, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Project, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <div class="table">
                        <div class="cell">
                            <label class="radio-inline">
                                @if (Model.Project == "1")
                                {
                                    <input type="radio" name="Project" class="projectRadio" disabled id="optionsRadiosInline1" checked value="@Model.ProjectOption.ElementAt(0).Id">
                                }
                                else
                                {
                                    <input type="radio" name="Project" class="projectRadio" disabled id="optionsRadiosInline1" value="@Model.ProjectOption.ElementAt(0).Id">
                                }
                                @Model.ProjectOption.ElementAt(0).Type
                            </label>
                            <label class="radio-inline">
                                @if (Model.Project == "0")
                                {
                                    <input type="radio" name="Project" class="projectRadio" disabled id="optionsRadiosInline2" checked value="@Model.ProjectOption.ElementAt(1).Id">
                                }
                                else
                                {
                                    <input type="radio" name="Project" class="projectRadio" disabled id="optionsRadiosInline2" value="@Model.ProjectOption.ElementAt(1).Id">
                                }
                                @Model.ProjectOption.ElementAt(1).Type
                            </label>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.Project, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control admin-input", @placeholder = "Enter text" , @readonly=""} })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field-min-h">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly ="" })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.SelectTypeNonProject, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @{  var disableString = "";
                        if (Model.Project == "1")
                        {
                            disableString = "style=\"display:none;\"";
                        }
                    }
                    <div class="table" id="nonProjectType" @Html.Raw(disableString)>
                        <div class="cell">
                            <label class="radio-inline">
                                @if (Model.UploadedImagelist.Count() > 0)
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled name="SelectTypeNonProject" checked id="SelectTypeNonProjectImage" value="1">
                                }
                                else
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled name="SelectTypeNonProject" id="SelectTypeNonProjectImage" value="1">
                                }
                                Images
                            </label>
                            <label class="radio-inline">
                                @if (Model.UploadedVideoThumblist.Count() > 0)
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled checked name="SelectTypeNonProject" id="SelectTypeNonProjectVideo" value="2">
                                }
                                else
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled name="SelectTypeNonProject" id="SelectTypeNonProjectVideo" value="2">
                                }
                                Video
                            </label>
                            <label class="radio-inline">
                                @if (Model.UploadedPdflist.Count() > 0)
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled name="SelectTypeNonProject" checked id="SelectTypeNonProjectPdf" value="3">
                                }
                                else
                                {
                                    <input type="radio" class="SelectTypeNonProject" disabled name="SelectTypeNonProject" checked id="SelectTypeNonProjectPdf" value="3">
                                }
                                PDF
                            </label>
                        </div>
                    </div>
                    @{ disableString = "";}
                    @if (Model.Project == "0")
                    {
                        disableString = "style=\"display:none;\"";
                    }
                    <div class="table" id="projectType" @Html.Raw(disableString)>
                        <div class="cell">
                            <div class="admin-check-btn" data-toggle="buttons">
                                @{
                                    var checkedString = "";
                                    var activeString = "";
                                    if (Model.UploadedImagelist.Count() > 0)
                                    {
                                        checkedString = "checked";
                                        activeString = "active";
                                    }
                                }
                                <label class="btn btn-default @activeString" disabled>
                                    <input type="checkbox" @checkedString class="SelectTypeProject image" disabled name="SelectTypeProject" value="1" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">Images</label>
                            </div>
                            <div class="admin-check-btn" data-toggle="buttons">
                                @{
                                    checkedString = "";
                                    activeString = "";
                                    if (Model.UploadedVideoThumblist.Count() > 0)
                                    {
                                        checkedString = "checked";
                                        activeString = "active";
                                    }
                                }
                                <label class="btn btn-default @activeString" disabled>
                                    <input type="checkbox" @checkedString class="SelectTypeProject video" disabled name="SelectTypeProject" value="2" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">Video</label>
                            </div>
                            <div class="admin-check-btn" data-toggle="buttons">
                                @{
                                    checkedString = "";
                                    activeString = "";
                                    if (Model.UploadedPdflist.Count() > 0)
                                    {
                                        checkedString = "checked";
                                        activeString = "active";
                                    }
                                }
                                <label class="btn btn-default @activeString" disabled>
                                    <input type="checkbox" @checkedString class="SelectTypeProject pdf" disabled name="SelectTypeProject" value="3" autocomplete="off">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </label>
                                <label class="admin-check-txt">PDF</label>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.UploadedImagelist)
                {
                    <div class="form-field2 mediaSection" id="ImageSection">
                        @Html.LabelFor(model => model.imagelist, htmlAttributes: new { @class = "form-field-sub-title" })
                        <div class="admin-input-file">
                            <div class="sub-img"> <img class="image" src="@Url.Content("~/App_data/uploads/" + @item.Name)"/></div>
                        </div>
                        @Html.Hidden("UploadedImage", (long)@item.Id)
                        <div class="clearfix"></div>
                    </div>
                }
                @{ disableString = "";}
                @foreach (var item in Model.UploadedVideoThumblist)
                {
                    <div class="form-field2 mediaSection" id="VideoSection">
                        <div class="col-lg-5">
                            <div class="row">
                                @Html.LabelFor(model => model.videoThumblist, htmlAttributes: new { @class = "form-field-sub-title" })
                                <div class="admin-input-file">
                                    <div class="sub-img"> <img class="image" src="@Url.Content("~/App_data/uploads/" + @item.thumb)"/></div>
                                </div>
                                @Html.Hidden("UploadedVideo", (long)@item.Id)
                            </div>
                        </div>
                        <div class="col-lg-5">
                            @Html.LabelFor(model => model.videolist, htmlAttributes: new { @class = "form-field-sub-title" })
                            <div class="admin-input-file">
                                @Html.TextBox("UploadVideoText", (string)@item.Name, new { @class = "form-control admin-input", @placeholder = "Enter Path", @disabled = "" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }
                @foreach (var item in Model.UploadedPdflist)
                {
                    var Text = "";
                    <div class="form-field2 mediaSection" id="PdfSection">
                        @Html.LabelFor(model => model.pdfType, htmlAttributes: new { @class = "form-field-sub-title" })
                        <div class="pdf-dropdown-m rbl-margin-right-15">
                            <div class="input-group-btn search-panel">
                                @if (((long)item.Type).ToString() == "4")
                                {
                                    Text = "Leaflets";
                                }
                                else if (((long)item.Type).ToString() == "6")
                                {
                                    Text = "Brochures";
                                }
                                else if (((long)item.Type).ToString() == "5")
                                {
                                    Text = "Forms";
                                }
                                <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" disabled>
                                    <span id="search_concept_@item.Id">@Text</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    @foreach (var option in Model.PdfTypeList)
                                    {
                                        <li>
                                            <a href="#@option.Text" onclick="changeUploadedPdfType(this,@item.Id)" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                </ul>
                                @Html.Hidden("uploadedPdfType", (long)@item.Type, new { @id = "UploadedPdfType" + @item.Id })
                                @Html.Hidden("UploadedPdf", (long)@item.Id)
                            </div>
                        </div>
                        <div class="admin-input-file">
                            <div class="sub-img"> <img class="image" src="@Url.Content("~/App_data/uploads/" + @item.thumb)"/></div>
                            @item.Name
                        </div>
                        <div class="clearfix"></div>
                    </div>
                }


            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Keywords, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <input type="text" name="Keywords" value="@Model.Keywords" class="admin-input" id="keywords" readonly disabled />
                    @Html.ValidationMessageFor(model => model.Keywords, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <input type="text" name="Location" value="@Model.Location" class="admin-input" id="location" readonly disabled/>
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Language, htmlAttributes: new { @class = "form-field-title" })
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    <input type="text" class="admin-input" value="@Model.Language" name="Language" id="language" readonly disabled />
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-errr" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-horizontal">

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                     <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/Media")'">
                    @*@Html.ActionLink("Back", "Index", "", new { @class = "admin-submit-btn btn btn-basic btn-lg", @id = "singlebutton" })*@
                </div>
            </div>
        </div>

    </div>
                                    }

@section Styles{
<style> 
    .bootstrap-tagsinput .tag [data-role="remove"] { display: none; }
.bootstrap-tagsinput input { display: none; }
    </style>   

}
@section Scripts
{
    <script>
        $(document).ready(function(e){
            


            @{ var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                var words = serializer.Serialize(RBL.Models.MediaModel.getAllkeywords());}
            $('#keywords').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){ return @{WriteLiteral(words); };}
                    }
            });

            @{   words = serializer.Serialize(RBL.Models.MediaModel.getAllLocation());}

            $('#location').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){return @{WriteLiteral(words); };}
                }
            });

            @{   words = serializer.Serialize(RBL.Models.MediaModel.getAllLanguage());}

            $('#language').tagsinput({
                typeahead: {
                    afterSelect: function (val) { this.$element.val(""); },
                    source: function(){ return @{WriteLiteral(words);  };}
                }
            });

            $("#language, #location, #keywords").keydown(function (event) {
                if (event.keyCode == 13) {

                    return false;
                }
            });
        });
    </script>

    <script type="text/javascript">
        function changeUploadedPdfType(element , id) {
            var param = $(element).attr("href").replace("#", "");
            var value = $(element).attr("value");
            var concept = $(element).text();
            $("#UploadedPdfType"+id).val(value);
            $('.search-panel span#search_concept_'+id).text(concept);
            return 0;
        }


    $('#input01').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
    $('#input02').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
    $('#input03').filestyle({
        input : false,
        buttonName : 'btn-default'
    });
    </script>

}
