﻿@model IEnumerable<RBL.Models.IndexMediaViewModel>
@using PagedList;
@using PagedList.Mvc;
@using RBL.Enums;

@{
    ViewBag.Title = "Index";
}
@{ var permmissions = (long?[])Session["permission"]; }
@if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.FileAdd)))
{
    <a href="@Url.Action("Create")">
        <button type="button" class="admin-button btn-default">
            <span class="fa fa-plus-circle"></span>&nbsp;Add File
        </button>
    </a>
}
@Html.ValidationSummary(true, "", new { @class = "alert alert-success fade in alert-dismissable" })
<div>
    <div class="data-container rbl-padding-5">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="file-manage-td-width1 text-center">Sr. No</th>
                        <th class="file-manage-td-width2 text-center">@Html.DisplayNameFor(model => model.Image)</th>
                        <th class="file-manage-td-width3">@Html.DisplayNameFor(model => model.Category)</th>
                        <th class="file-manage-td-width4">@Html.DisplayNameFor(model => model.Type)</th>
                        <th class="file-manage-td-width5">@Html.DisplayNameFor(model => model.Title)</th>
                        <th class="file-manage-td-width6 text-center">@Html.DisplayNameFor(model => model.Date)</th>
                        <th class="file-manage-td-width7 text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{ var currentIndex = ViewBag.Index;}
                    @if (Model.Count() == 0)
                    {
                        <tr> <td align="center" colspan="7" valign="middle"> <span>No Content Available</span> </td> </tr>
                    }
                    @foreach (var item in Model)
                    {
                        currentIndex++;
                        <tr>
                            <td style="vertical-align: middle" class="text-center">@currentIndex</td>
                            <td style="vertical-align: middle" class="text-center">
                                <div class="sub-img"> <img class="image" src="@Url.Content("~/App_Data/uploads/"+item.Image)"></div>
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Category)
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Type)
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.FileView)))
                                {
                                    <a href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i></a>
                                }
                                @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.FileEdit)))
                                {
                                    <a href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })"><i class="fa  fa-mar-5  @{ @((bool)!item.isActive ?  "fa-check fa-color-green" : "fa-times fa-color-orange" )}" data-toggle="tooltip" data-placement="top" title='@{ @((bool)!item.isActive ?  "Active" : "InActive" )}'></i></a>
                                }
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { Page = page }))
</div>



@section Scripts {
    
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

    }

