﻿@model RBL.Models.ParentCategoryAddViewModel

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @*@Html.HiddenFor(x => x.Id);*@

    <div class="data-container rbl-padding-top-40">
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-field-title" })
                @*<div class="form-field-title">Category Name</div>*@
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control admin-input", @id = "disabledInput" ,placeholder = "Enter Name of The Category"})
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Name">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-add-category-mar-top-21perc">
            <div class="admin-submit-btns rbl-padding-top-botton-15">
                <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/Category")'">
              @*  @Html.ActionLink("Back", "Index", "", new { @class = "", @id = "singlebutton" })// "admin-submit-btn btn btn-basic btn-lg"*@
                <input type="reset" value="Reset" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" />
                <input type="submit" value="Create" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />
            </div>
        </div>
    </div>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}