﻿@model RBL.Models.ParentCategoryEditViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id);

    <div class="data-container rbl-padding-top-40">
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        @Html.HiddenFor(model => model.Id)
        <div class="full-width rbl-margin-bottom-10">
            <div class="col-lg-2">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-field-title" })
                @*<div class="form-field-title">Category Name</div>*@
            </div>
            <div class="col-lg-10">
                <div class="form-field">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control admin-input", @id = "disabledInput",placeholder = "Enter Name of The Category" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-errr" })
                    @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Enter Name">*@
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="full-width rbl-add-category-mar-top-21perc">
            <div class="admin-submit-btns rbl-padding-top-botton-15">
                <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/Category")'">
                @*<input type="reset" value="Reset" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" onclick="resetForm()" />*@
                <input type="submit" value="Submit" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />
                @*@Html.ActionLink("Back", "Index", "", new { @class = "admin-submit-btn btn btn-basic btn-lg", @id = "singlebutton" })
                <input type="submit" value="Save" class="admin-submit-btn btn btn-basic btn-lg " id="singlebutton" />*@
            </div>
        </div>
    </div>
    @*@Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>RBL_Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>*@
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
