﻿@model RBL.Models.ChildCategoryAddViewModel

@{
    ViewBag.Title = "Sub Category Create";
}


    @using (Html.BeginForm("SubCreate", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
        <div class="data-container rbl-padding-top-40">
            <div class="full-width">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.ParentCategory, htmlAttributes: new { @class = "form-field-title" })
                </div>
                <div class="col-lg-10 rbl-margin-bottom-25">
                    <div class="form-field">
                        <div class="subcategory-dropdown">
                            <div class="input-group-btn search-panel5">
                                <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span id="search_concept5">Select Category</span> <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    @{
                                        foreach (var option in Model.ParentCategoryList)
                                        {
                                            <li>
                                                <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                                @if (option.Value == Convert.ToString(Model.ParentCategory))
                                                {
                                                    <script>
                                                         window.selected = "@option.Text";
                                                    </script>
                                                }
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.ParentCategory, new { @id = "StdCategory", @value = "-1" })
                        @Html.ValidationMessageFor(model => model.ParentCategory, "", new { @class = "text-errr" })
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="full-width">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.SubCategory, htmlAttributes: new { @class = "form-field-title" })
                    @*<div class="form-field-title">Add Sub Category</div>*@
                </div>
                <div class="col-lg-10  rbl-margin-bottom-25">
                    <div class="form-field">
                        @Html.TextBoxFor(model => model.SubCategory, new { @class = "form-control admin-input", @placeholder = "Add Sub Category", @id = "disabledInput" })
                        @Html.ValidationMessageFor(model => model.SubCategory, "", new { @class = "text-errr" })
                        @*<input class="form-control admin-input" id="disabledInput" type="text" placeholder="Add Sub Category">*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="full-width">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-field-title" })
                    @*<div class="form-field-title">Description</div>*@
                </div>
                <div class="col-lg-10  rbl-margin-bottom-25">
                    <div class="form-field-min-h">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" ,placeholder = "Enter Description" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-errr" })
                        @*<textarea class="form-control" rows="3"></textarea>*@
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="full-width rbl-margin-bottom-10">
                <div class="col-lg-2">
                    @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "form-field-title" })
                    @*<div class="form-field-title">Upload Image</div>*@
                </div>
                <div class="col-lg-10  rbl-margin-bottom-25">
                    <div class="admin-input-file">
                        @Html.TextBoxFor(model => model.image, new { @type = "file", @class = "form-control", @id = "input01" })
                        @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-errr" })
                        @*<input type="file" id="input01">*@
                    </div>
                    <div class="sub-cat-inst">Upload icon size : 144px X 120px<br> Note : Upload icon in white color with transaprent background.</div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="full-width rbl-add-sub-category-mar-top-2perc">
                <div class="admin-submit-btns rbl-padding-top-botton-15">
                    <input type="button" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" value="Back" onclick="window.location='@Url.Content("~/Category/SubIndex")'">
                    @*  @Html.ActionLink("Back", "Index", "", new { @class = "", @id = "singlebutton" })// "admin-submit-btn btn btn-basic btn-lg"*@
                    <input type="reset" value="Reset" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" onclick="resetForm()" />
                    <input type="submit" value="Submit" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />
                    @*@Html.ActionLink("Back", "SubIndex", "", new { @class = "admin-submit-btn btn btn-basic btn-lg", @id = "singlebutton" })
                    <input type="submit" value="Create" class="admin-submit-btn btn btn-basic btn-lg btn-margin-left-right" id="singlebutton" />*@
                </div>
            </div>
        </div>
              }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        <script>
            $(document).ready(function (e) {
                if (window.selected != undefined)
                {
                    $('.search-panel5 span#search_concept5').text(selected);
                }
                $('.search-panel5 .dropdown-menu').find('a').click(function (e) {
                    e.preventDefault();
                    var param = $(this).attr("href").replace("#", "");
                    var concept = $(this).text();
                    var value = $(this).attr("value");
                    $("#StdCategory").val(value);
                    $('.search-panel5 span#search_concept5').text(concept);
        //            $('.input-group #search_param').val(param);
                });
            });
        </script>

        <script type="text/javascript">

            $('#input01').filestyle({
                input: false,
                buttonName: 'btn-default'
            });
        </script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    }
