﻿@model IEnumerable<RBL.Models.ChildCategoryViewModel>
@using RBL.Enums;

@{
    ViewBag.Title = "Sub Category";
}
@{ var permmissions = (long?[])Session["permission"]; }

@using (Html.BeginForm("BulkAction", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    if(RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.CategoryAdd)))
    {
        <a href="@Url.Action("SubCreate")">
            <button type="button" class="admin-button btn-default">
                <span class="fa fa-plus-circle"></span>&nbsp;Add Sub Category
            </button>
        </a>
    }
    @*<div>
        @Html.Hidden("returnUrl", "SubIndex")
        <div class="full-width rbl-margin-bottom-10" style="display: inline-block;width: 272px; vertical-align:middle;margin-bottom:5px;">
            <div class="col-lg-10">
                <div class="form-field">
                    <div class="subcategory-dropdown">
                        <div class="input-group-btn search-panel5">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span id="search_concept5">Select Option</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                @{
                                    foreach (var option in(List<SelectListItem>)@ViewBag.list)
                                    {
                                        <li>
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    @Html.Hidden("BulkOption",null, new { @id = "StdBulkOption" })
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        @Html.DropDownList("BulkOption", (List<SelectListItem>)@ViewBag.list)
        <input type="submit" value="submit"  style="display: inline-block;" class="admin-submit-btn btn btn-basic btn-lg" />
    </div>*@
    @Html.ValidationSummary(true, "", new { @class = "alert alert-success fade in alert-dismissable" }, "<a href='#' class='close' data-dismiss=\"alert\" aria-label=\"close\">&times;</a>")
    <div class="data-container rbl-padding-5">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        @*<th>
                            Bulk Action
                        </th>*@
                        <th class="sub-td-width1 text-center">
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th class="sub-td-width2">
                            @Html.DisplayNameFor(model => model.SubName)
                        </th>
                        <th class="sub-td-width3">
                            @Html.DisplayNameFor(model => model.ParentName)
                        </th>
                        <th class="sub-td-width4 text-center">
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th class="sub-td-width5 text-center">
                            @Html.DisplayNameFor(model => model.Discription)
                        </th>
                        <th class="sub-td-width6 text-center">
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th class="sub-td-width7 text-center">Action</th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.isActive)
                        </th>*@
                    </tr>
                </thead>
                <tbody>
                    @{ var count = 0; }
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            @*<td  style="vertical-align: middle" >
                                <div class="admin-check-btn" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="checkbox" class="SelectTypeProject image" name="BulkId" value="@item.Id" autocomplete="off">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </label>
                                </div>
                            </td>*@
                            <td style="vertical-align: middle" class="text-center">
                                @count
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.SubName)
                            </td>
                            <td style="vertical-align: middle">
                                @Html.DisplayFor(modelItem => item.ParentName)
                            </td>
                            <td style="width:100px !important; vertical-align: middle" class="text-center">
                                <div class="sub-img"> <img class="image" src="@RBL.Helpers.Utility.imageBaseUrl@item.Image"></div>
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                @Html.DisplayFor(modelItem => item.Discription)
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td style="vertical-align: middle" class="text-center">
                                @if ( RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.CategoryView)))
                                {
                                    <a href="@Url.Action("SubDetails", "Category", new { id = item.Id })">
                                        <i class="fa fa-eye fa-mar-5 fa-color-blue" data-toggle="tooltip" data-placement="top" title="View"></i>
                                    </a>
                                }
                                @if ( RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && permmissions.Contains((int)Permission.CategoryEdit)))
                                {
                                    <a href="@Url.Action("SubEdit", "Category", new { id = item.Id })">
                                        <i class="fa fa-pencil-square-o fa-mar-5 fa-color-green" data-toggle="tooltip" data-placement="top" title="Edit"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", "Category", new { id = item.Id, returnUrl = "SubIndex" })">
                                        <i class="fa fa-mar-5  @{ @((bool)item.isActive ?  "fa-check fa-color-green" : "fa-times fa-color-orange")}" data-toggle="tooltip" data-placement="top" title='@{ @((bool)item.isActive ?  "Active" : "InActive" )}'></i>
                                    </a>
                                }
                            </td>
                            @*<td style="vertical-align: middle" class="text-center">
                                @{ @((bool)item.isActive ? "Yes" : "No")}
                            </td>*@
                        </tr>
                   }
                </tbody>

            </table>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
            $(document).ready(function (e) {
                $('.search-panel5 .dropdown-menu').find('a').click(function (e) {
                    e.preventDefault();
                    var param = $(this).attr("href").replace("#", "");
                    var concept = $(this).text();
                    var value = $(this).attr("value");
                    $("#StdBulkOption").val(value);
                    $('.search-panel5 span#search_concept5').text(concept);
        //            $('.input-group #search_param').val(param);
                });
            });
    </script>
    <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
    </script>
}
