﻿@model RBL.Models.Dashboard

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-3">
        <div class="panel admin-dashboard-purple">
            <div class="panel-default ">
                <div class="row">
                    <div class="admin-dashboard-img"><img src="@Url.Content("~/images/total-file-img.png")"></div>
                    <div class="admin-dashboard-txt">Total Files</div>
                    <div class="admin-dashboard-counter">
                        <div class="admin-dashboard-round adr-purple">
                            @RBL.Helpers.Utility.FormatNumber((long)Model.Total)                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel admin-dashboard-green">
            <div class="panel-default ">
                <div class="row">
                    <div class="admin-dashboard-img"><img src="@Url.Content("~/images/img-download.png")"></div>
                    <div class="admin-dashboard-txt">Image Download</div>
                    <div class="admin-dashboard-counter">
                        <div class="admin-dashboard-round adr-green">
                           @RBL.Helpers.Utility.FormatNumber((long)@Model.Image)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel admin-dashboard-yellow">
            <div class="panel-default ">
                <div class="row">
                    <div class="admin-dashboard-img"><img src="@Url.Content("~/images/pdf-download.png")"></div>
                    <div class="admin-dashboard-txt">PDF Download</div>
                    <div class="admin-dashboard-counter">
                        <div class="admin-dashboard-round adr-yellow">
                          @RBL.Helpers.Utility.FormatNumber((long)@Model.pdf)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel admin-dashboard-red">
            <div class="panel-default ">
                <div class="row">
                    <div class="admin-dashboard-img"><img src="@Url.Content("~/images/video-download.png")"></div>
                    <div class="admin-dashboard-txt">Video Download</div>
                    <div class="admin-dashboard-counter">
                        <div class="admin-dashboard-round adr-red">
                          @RBL.Helpers.Utility.FormatNumber((long)@Model.video)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>