﻿@model RBL.Models.DetailViewModel
@using RBL.Models;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<div class="container-fluid">

    <div class="top-spacing"></div>

    <div class="full-width">
        <div class="download-filter-container">
            <div class="download-dropdown-m">
                <div class="input-group-btn search-panel4">
                    <button type="button" class="download-dropdown btn-download dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept4">Downloads</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dow1" role="menu">
                        @if (Model.allFileTypes.Contains(1))
                        {
                            <li><a href="#images"><i class="demo-icon icon-download"></i> Download Images</a></li>
                        }
                        @if (Model.allFileTypes.Contains(2))
                        {
                            <li><a href="#video"><i class="demo-icon icon-download"></i> Download Video</a></li>
                        }
                        @if (Model.allFileTypes.Contains(3))
                        {
                            <li><a href="#pdf"><i class="demo-icon icon-download"></i> Download PDF</a></li>
                        }
                        <li><a href="#allfiles"><i class="demo-icon icon-download"></i> Download All Files</a></li>
                    </ul>
                </div>
            </div>
        </div><!--end download-filter-container-->
        <div class="input-group-btn visible-xs pull-right download-filter-button-m mobile-download" data-toggle="offcanvas">
            <button type="button" class="btn download-filter-button btn-default" data-toggle="dropdown">
                <span class="demo icon-download"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                @if (Model.allFileTypes.Contains(1))
                {
                    <li><a href="#images"><i class="demo-icon icon-download"></i> Download Images</a></li>
                }
                @if (Model.allFileTypes.Contains(2))
                {
                    <li><a href="#video"><i class="demo-icon icon-download"></i> Download Video</a></li>
                }
                @if (Model.allFileTypes.Contains(3))
                {
                    <li><a href="#pdf"><i class="demo-icon icon-download"></i> Download PDF</a></li>
                }
                <li><a href="#allfiles"><i class="demo-icon icon-download"></i> Download All Files</a></li>
            </ul>
        </div>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    @Html.AntiForgeryToken()
        <div class="preview-search-container">
            <div class="preview-search-input-group input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control search-listing-input", @placeholder = "Search..." })
                <div class="input-group-btn search-panel2 hidden-xs">
                    <button type="button" class="search-dropdown btn-search dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept2">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDCategory dow1" role="menu">
                        @{
                            foreach (var option in Model.CategoryList)
                            {
                                <li>
                                    <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                </li>
                            }
                        }
                    </ul>
                    @Html.HiddenFor(m => m.ParentId, new { @id = "StdCategory" })
                </div>
                <div class="input-group-btn search-panel3 hidden-xs">
                    <button type="button" class="search-dropdown btn-search dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept3">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDSubCategory dow1" role="menu">
                        @{
                            foreach (SubCategory option in Model.SubCategoryList)
                            {
                                <li class="subAll sub@{@option.Id}" style="display:none;">
                                    <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                </li>
    }
                        }
                    </ul>
                    @Html.HiddenFor(model => model.Id, new { @id = "StdSubCategory" })
                </div>
                <span class="input-group-btn">
                    <button class="btn btn-default search-listing-icon-btn" type="button" onclick="document.getElementsByTagName('form')[0].submit();"><span class="glyphicon"><img src="@Url.Content("~/images/search-icon-blank.png")" /></span></button>
                </span>
            </div><!--end search-listing-input-group-->
        </div><!--end search-listing-container-->
        <div class="clearfix"></div>
    }
    </div><!--end full-width-->

    <div class="row-10 rbl-padding-botton-15 visible-xs">
        <div class="col-lg-6 col-xs-6 rbl-padding-left-right-10">
            <div class="pdf-dropdown-m">
                <div class="input-group-btn search-panel5">
                    <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept5">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDCategory dow1" role="menu">
                        @{
                            foreach (var option in Model.CategoryList)
                            {
                                <li>
                                    <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-6 rbl-padding-left-right-10">
            <div class="pdf-dropdown-m">
                <div class="input-group-btn search-panel6">
                    <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept6">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDSubCategory dow1" role="menu">
                        @{
                            foreach (SubCategory option in Model.SubCategoryList)
                            {
                                <li class="subAll sub@{@option.Id}" style="display:none;">
                                    <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div><!--end full-width-->

    <div class="full-width rbl-margin-botton-15">
        <div class="col-lg-6 col-md-6 rbl-remove-padding-left rbl-remove-padding-right-xs">
            <div class="full-width rbl-margin-botton-15">
                <div class="btn-group pull-right category-filter">
                    @if (Model.allFileTypes.Contains(1))
                    {
                        <button type="button" class="btn all-file-button" onclick="changeslides('image',this)"><i class="demo-icon icon-picture"></i> IMAGES</button>
                    }
                    @if (Model.allFileTypes.Contains(2))
                    {
                        <button type="button" class="btn all-file-button"  onclick="changeslides('video',this)"><i class="demo-icon icon-play-circled2"></i> VIDEOS</button>
                    }
                    @if (Model.allFileTypes.Contains(3))
                    {
                        <button type="button" class="btn all-file-button"  onclick="changeslides('pdf',this)"><i class="demo-icon icon-file-pdf"></i> PDF</button>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
            <!--<section class="slider">-->
            <div id="slider-container">
                <div id="slider" class="flexslider flexslider-height">
                    <button type="button" class="btn btn-lg slider-download-btn" onclick="downloadSingle()">
                        <i class="demo-icon icon-download"></i>
                    </button>
                    <ul class="slides">
                        @{
                            var listOfFiles = "[";
                            foreach (var item in Model.allFile)
                            {
                                var filename = String.IsNullOrEmpty(item.thumbnail) ? item.filename : item.thumbnail;
                                var type = "image";
                                if (item.filetype_parent_id == 1)
                                {
                                    type = "image";
                                }
                                else if (item.filetype_parent_id == 2)
                                {
                                    type = "video";
                                }
                                else if (item.filetype_parent_id == 3)
                                {
                                    type = "pdf";
                                }
                                <li class="all-file @type" data-type="@type" data-id="@item.id" data-name="@item.filename" data-filename="@(item.filetype_parent_id == 2 ? item.filename : Url.Content("~/App_Data/uploads/" + item.filename))">
                                    <img src="@Url.Content("~/App_Data/uploads/" + @filename)" />
                                </li>
                                listOfFiles += "{filename:'" + (item.filetype_parent_id == 2 ? item.filename : Url.Content("~/App_Data/uploads/" + item.filename)) + "',name:'" + item.filename + "',type:'" + type + "',id:" + item.id + "},";
                            }
                            listOfFiles = listOfFiles.TrimEnd(',');
                            listOfFiles += "]";
                        }
                    </ul>
                </div>
            </div>
            <div id="carousel-container">
                <div id="carousel" class="flexslider">
                    <ul class="slides">
                        @{
                            foreach (var item in Model.allFile)
                            {
                                var filename = String.IsNullOrEmpty(item.thumbnail) ? item.filename : item.thumbnail;
                                var type = "image";
                                if (item.filetype_parent_id == 1)
                                {
                                    type = "image";
                                }
                                else if (item.filetype_parent_id == 2)
                                {
                                    type = "video";
                                }
                                else if (item.filetype_parent_id == 3)
                                {
                                    type = "pdf";
                                }
                                <li class="all-file @type">
                                    <img src="@Url.Content("~/App_Data/uploads/" + @filename)" />
                                </li>
                            }
                        }
                    </ul>
                </div>
                <!--</section>-->
            </div>
        </div>
        <div class="col-lg-6 col-md-6 rbl-remove-padding-left-right">
            <div class="preview-details-container">
                <div class="prev-details-padding">
                    <div class="details-title capitalize">@Model.Title</div>
                    <p class="details-desc rbl-padding-botton-15">
                        @Model.Description
                    </p>
                    <div class="prev-details-list capitalize"><i class="demo-icon icon-location-outline"></i>@String.Join(", ",@Model.Location)</div>
                    <div class="prev-details-list"><i class="demo-icon icon-calendar"></i>@Model.Date.Value.GetDateTimeFormats('Y')[0]</div>
                    <div class="prev-details-list capitalize"><i class="demo-icon icon-language"></i>@String.Join(", ", @Model.Language)</div>
                </div>
                <div class="prev-details-padding rbl-margin-top-8">
                    <div class="prev-details-list2 capitalize"><i class="demo-icon icon-user-o"></i>@Model.Author</div>
                    <div class="prev-details-list2"><i class="demo-icon icon-mail"></i>@Model.AuthotEmail</div>
                    <div class="prev-details-list2"><i class="demo-icon icon-phone"></i>@Model.Mobile</div>
                </div>
            </div>
        </div>
    </div><!--full-width-->

    <div class="clearfix"></div>

    <div class="full-width keyword rbl-padding-botton-30 pull-left">
        <div class="keyword-title">Keywords</div>
    @{
        foreach (var item in Model.Keywords)
        {
            <button type="button" class="btn btn-default" onclick='searchKeyword("@item")'>@item</button>
        }
    }
       
        @*<button type="button" class="btn btn-default">flowing</button>
    <button type="button" class="btn btn-default">mountain</button>
    <button type="button" class="btn btn-default">sky</button>
    <button type="button" class="btn btn-default">rock</button>*@
    </div><!--full-width-->

</div> <!-- container-fluid -->

@section Styles {
    <style>
    .bg-1 {
        background: none;
        background-color: #f3f3f3;
        user-select: none;
    }
</style>
    
    }


@section Scripts {
    <script>
        //
        function downloadSingle() {
            window.curSlide = $("#slider").data('flexslider');
            var index = window.curSlide.currentSlide;
            var current = {};
            current.tag = window.curSlide.slides[index];
            current.type = current.tag.getAttribute("data-type");
            current.filename = current.tag.getAttribute("data-filename");
            current.id = current.tag.getAttribute("data-id");
            current.name = current.tag.getAttribute("data-name"); 
            debugger;
            console.log(current);
            if (current.type == "image" || current.type == "pdf") {
                savePdfOrImage([current]);
            }
            else if (true) {
                saveVideo("video.txt",current.filename);
            }

            //hitCount(current.id);
        }
        var sliderContainer = jQuery("#slider").clone();
        var carouselContainer =jQuery("#carousel").clone();
    $(document).ready(function(e){
        $('.search-panel2 .dropdown-menu, .search-panel5 .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var value = $(this).attr("value");
            var concept = $(this).text();
            $("#StdCategory").val(value);
            $("#StdSubCategory").val(null);
            $(".subAll").hide();
            $(".sub" + value).show(); //
            $('.search-panel6 span#search_concept5').text("Filter by");
            $('.search-panel3 span#search_concept6').text("Filter by");
            $('.search-panel5 span#search_concept5').text(concept);
            $('.search-panel2 span#search_concept2').text(concept);
            //$('.search-panel2 span#search_concept2').text(concept);
            //$('.input-group #search_param').val(param);
        });
        $('.search-panel3 .dropdown-menu, .search-panel6 .dropdown-menu').find('a').click(function (e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#", "");
            var value = $(this).attr("value");
            var concept = $(this).text();
            $("#StdSubCategory").val(value);
            $('.search-panel6 span#search_concept6').text(concept);
            $('.search-panel3 span#search_concept3').text(concept);
            //$('.input-group #search_param').val(param);
        });
    });
    function searchKeyword(keyword) {
        window.location.href = '@RBL.Helpers.Utility.GetBaseUrl()/Home/Search?SearchText=' + keyword;
    }
</script>
<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $(".overlay").show();
        });
        $(".filter-close, .filter-close2").click(function(){
            $(".overlay").hide();
        });
    });
    $(document).ready(function () {
        $(".sl-filter-button").click(function(){
            $("body").addClass("rbl-overflow-hidden");
            $(".filter-close, .filter-close2").removeClass("rbl-overflow-hidden");
        });
        $(".filter-close, .filter-close2").click(function(){
            $("body").removeClass("rbl-overflow-hidden");
        });
    });
</script>

<script>
    $(window).load(function() {
        // The slider being synced must be initialized first
    $('#carousel').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            itemWidth: 100,
            smoothHeight: true,
            itemMargin: 5,
            asNavFor: '#slider',
            selector: '.slides > li.all-file'
        });

        $('#slider').flexslider({
            animation: "slide",
            controlNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel",
            selector: '.slides > li.all-file',
            before: function(slider){
            },
            after: function(slider) {
                window.curSlide = slider;
                console.log(slider);
            }
        });
    });
</script>

<script type="text/javascript">
    //dowload section
    var files = @Html.Raw(listOfFiles);
    //some helper function
    function savePdfOrImage(files) {
        function download_next(i) {
            if (i >= files.length) {
                return;
            }
            var a = document.createElement('a');
            a.href = files[i].filename;
            a.target = '_parent';
            // Use a.download if available, it prevents plugins from opening.
            if ('download' in a && files[i].name != undefined) {
                a.download = files[i].name;
            }
            // Add a to the doc for click to work.
            (document.body || document.documentElement).appendChild(a);
            if (a.click) {
                a.click(); // The click method is supported by most browsers.
            } else {
                $(a).click(); // Backup using jquery
            }
            // Delete the temporary link.
            a.parentNode.removeChild(a);
            // Download the next file with a small timeout. The timeout is necessary
            // for IE, which will otherwise only download the first file.
            setTimeout(function () { download_next(i + 1); }, 500);
        }
        // Initiate the first download.
        download_next(0);
    }
    
    function hitCount(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Content("~/Home/HitCount")',
            data:{ id : id },
            cache: false,
            success: function(data){
            }
        });
    }

    function changeslides(slidename,callee) {
        $('#slider').detach();
        $('#carousel').detach();
        var temp = sliderContainer.clone();
        $("#slider-container").html(temp);
        temp = carouselContainer.clone()
        $("#carousel-container").html(temp);
        $(".all-file-button").removeClass("active");
        callee.classList.add("active");
            $('#slider').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                smoothHeight: true,
                sync: "#carousel",
                selector: '.slides > li.'+slidename
            });
            $('#carousel').flexslider({
                animation: "slide",
                controlNav: false,
                animationLoop: false,
                slideshow: false,
                itemWidth: 100,
                smoothHeight: true,
                itemMargin: 5,
                asNavFor: '#slider',
                selector: '.slides > li.'+slidename
            });
    }    

    function saveVideo(filename, data) {
    var blob = new Blob([data], {type: 'text/plain'});
    if(window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveBlob(blob, filename);
    }
    else{
        var elem = window.document.createElement('a');
        elem.href = window.URL.createObjectURL(blob);
        elem.target = "_parent";
        elem.download = filename;
        document.body.appendChild(elem);
        elem.click();
        document.body.removeChild(elem);
    }
    }
    // dropdown change or click event
    $(document).ready(function() {
        $('.search-panel4 .dropdown-menu,.mobile-download .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel4 span#search_concept4').text(concept);
            var length = files.length;
            for (var i = 0; i < length; i++) {
                if (param != "allfiles") { // if anything else then all file is chosen then
                    if (param == "pdf" && files[i].type == "pdf"  ) {
                        savePdfOrImage([files[i]]);
                        hitCount(files[i].id);
                    }
                    else if ( files[i].type == "image" &&  param == "images" ) {
                        savePdfOrImage([files[i]]);
                        hitCount(files[i].id);
                    }
                    else if ( param == "video" && files[i].type == "video") {
                        saveVideo("video.txt",files[i].filename);
                        hitCount(files[i].id);
                    }
                        
                }
                else { // all files has been chosen
                    if (files[i].type == "image" || files[i].type == "pdf") {
                        savePdfOrImage([files[i]]);
                        hitCount(files[i].id);
                    }
                    else if (true) {
                        saveVideo("video.txt",files[i].filename);
                        hitCount(files[i].id);
                    }

                }
               
                }
            //            $('.input-group #search_param').val(param);
        });
    });

</script>
}
