﻿@model RBL.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container" role="main">
    <div class="search-input-group input-group">
        <span class="input-group-btn">
            <button class="btn btn-default search-icon-btn" type="button"><span class="glyphicon"><img src="@RBL.Helpers.Utility.GetBaseUrl()/images/search-icon-blank.png" /></span></button>
        </span>
@using (Html.BeginForm("Search","Home",FormMethod.Get))
{
    @Html.AntiForgeryToken()
        <input type="text" class="form-control search-input" name="SearchText" id="SearchText" placeholder="Search...">
}
        <div class="input-group-btn search-panel">
            <button type="button" class="search-dropdown btn-search dropdown-toggle" data-toggle="dropdown">
                <span id="search_concept">Filter by</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dow" role="menu">
                @{
                    foreach (var option in Model.PrentCategory)
                    {
                        <li>
                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>

    <div class="row">
            @{
                foreach (var option in Model.SubCategory)
                {
                   <div onclick="submitForm(@option.Id,@option.ParentId)" class="category col-xs-6 col-sm-3 text-center cat-all cat-parent-id-@option.ParentId hand-pointer" data-id="@option.Id"  data-parent-id="@option.ParentId" style="display:none;">
                       @*<a href="@RBL.Helpers.Utility.GetBaseUrl()/Home/Search?ParentId=@option.ParentId&Id=@option.Id">*@
                       @*<div class="category-icon"></div>*@
                           <div class="sub-img"><img class="image" src="@Url.Content("~/App_Data/uploads/" + option.Image)"></div>
                        <h1>@option.Name</h1>@*</a>*@
                        @option.Description
                    </div>
                }
            }
        @*<div class="category col-xs-6 col-sm-3 text-center">
            <div class="category-icon"></div>
            <h1>Sub Category 1</h1>
            Lorem Ipsum is simply
            dummy text of the printing
        </div>
        <div class="category col-xs-6 col-sm-3 text-center">
            <div class="category-icon"></div>
            <h1>Sub Category 2</h1>
            Lorem Ipsum is simply
            dummy text of the printing
        </div>

        <!-- Add the extra clearfix for only the required viewport -->
        <div class="clearfix visible-xs-block"></div>*@
    </div>

</div>
<style>
    .hand-pointer  { cursor: pointer; cursor: hand; }
</style>
@section Scripts {
    <script>
        $(document).ready(function(e){
            $('.search-panel .dropdown-menu').find('a').click(function(e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#","");
                var concept = $(this).text();
                var value = $(this).attr("value");
                $('.search-panel span#search_concept').text(concept);
                $('.input-group #search_param').val(param);
                //cat-all cat-parent-id-
                $('.cat-all').hide();
                $('.cat-parent-id-' + value).show();
            });

            
        });
        function submitForm(id,parentId) {
            var searchText = document.getElementById("SearchText").value;
            window.location.href = '@RBL.Helpers.Utility.GetBaseUrl()/Home/Search?ParentId=' + parentId + '&Id=' + id + '&SearchText=' + searchText;
        }
    </script>
}