﻿@model RBL.Models.SearchViewModel
@using RBL.Models;
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Search Result";
    var checkAllString = "";
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get,new { @style = "height:calc(100% - 92px)" }))
{
    @Html.AntiForgeryToken()
<div class="container-fluid">

    <div class="top-spacing"></div>

    @*<div class="row">
        <ol class="breadcrumb">
            <li><a href="@Url.Content("~/")">Home</a></li>
            <li class="active">Mutual Fund</li>
        </ol>
    </div>*@

    <div class="full-width">
        <div class="overlay">
            <div class="filter-close2"></div>
            <div class="filter-container">
                <div class="filter-padding file-type" style="overflow: hidden;">
                    <div>
                    <div class="filter-title pull-left">Filter</div>
                    <a class="apply pull-right" style="display:none;cursor: pointer; cursor: hand;" onclick="document.getElementsByTagName('form')[0].submit();" >Apply</a>
                    <div class="filter-close">
                        <i class="demo-icon icon-window-close"></i>
                    </div>
                    </div>
                    @{
                       
                        if (Model.SelectedFileTypes == null || Model.SelectedFileTypes.Contains(0))
                        {
                            if (Model.SelectedLanguage == null)
                            {
                                if (Model.SelectedLocation == null)
                                {
                                    if (Model.SelectedYear == null)
                                    {
                                        if (Model.Id == null && Model.ParentId ==null)
                                        {
                                            checkAllString = "checked";
                                        }
                                    }
                                }
                            }
                        }
                      }
                    <div class="clearfix"></div>
                    <div class="filter-options">
                        <div class="btn-group filter-btn" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input class="filter pdf-parent main" type="checkbox"  autocomplete="off" name="SelectedFileTypes" value="0">
                                <span class="glyphicon glyphicon-ok"></span>
                            </label>
                        </div>
                        <div class="filter-option-txt">All</div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="filter-div">
                    <div class="filter-padding  file-type">
                        <div class="filter-title">Type</div>
                        @{
                            foreach (var option in Model.FileTypeList)
                            {
                                var checkedString = "";
                                var activeString = "";
                                if (Model.SelectedFileTypes != null)
                                {
                                    checkedString = Model.SelectedFileTypes.Contains(Convert.ToInt64(option.Value)) ? "checked='checked'" : "";
                                    activeString = Model.SelectedFileTypes.Contains(Convert.ToInt64(option.Value)) ? "active" : "";
                                }
                                <div class="filter-options">
                                    <div class="btn-group filter-btn" data-toggle="buttons">
                                        <label class="btn btn-default other @activeString">
                                            @{ var classString = "";}
                                            @if (option.Value == "0" || option.Value == "3")
                                            {
                                                classString  =  "pdf-parent";
                                            }
                                            <input  class="filter other @classString" type="checkbox"  autocomplete="off" name="SelectedFileTypes" value="@option.Value" @checkedString>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                    <div class="filter-option-txt">@option.Text</div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                        }
                    </div>
                    <div class="filter-padding fix-height">
                        <div class="filter-title">Year</div>
                        @{
                            foreach (var option in Model.Year)
                            {
                                var checkedString = "";
                                var activeString = "";
                                if (Model.SelectedYear != null)
                                {
                                    checkedString = Model.SelectedYear.Contains(option) ? "checked='checked'" : "";
                                    activeString = Model.SelectedYear.Contains(option) ? "active" : "";
                                }
                                <div class="filter-options">
                                    <div class="btn-group filter-btn" data-toggle="buttons">
                                        <label class="btn btn-default other @activeString">
                                            <input class="filter" type="checkbox" autocomplete="off" name="SelectedYear" value="@option" @checkedString>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                    <div class="filter-option-txt">@option</div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                            if (Model.Year.Count == 0)
                            {
                               <span>No Year found</span>
                            }
                        }
                    </div>
                    <div class="filter-padding fix-height">
                        <div class="filter-title">Locations</div>
                        @*<div class="search-location-input-group input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default search-location-icon-btn" type="button"><span class="glyphicon"><img src='@Url.Content("~/images/search-icon-blank.png")' /></span></button>
                            </span>
                            <input type="hidden" name="search_param" value="all" id="search_param">
                            <input type="text" class="form-control search-location-input"  name="x" placeholder="Search Locations" value="@Model.SearchText">
       
                        </div>*@<!--end search-listing-input-group-->
                        @{
                            foreach (var option in Model.Locations)
                            {
                                var checkedString = "";
                                var activeString = "";
                                if (Model.SelectedLocation != null)
                                {
                                    checkedString = Model.SelectedLocation.Contains(option) ? "checked='checked'" : "";
                                    activeString = Model.SelectedLocation.Contains(option) ? "active" : "";
                                }
                                <div class="filter-options">
                                    <div class="btn-group filter-btn" data-toggle="buttons">
                                        <label class="btn btn-default other @activeString">
                                            <input class="filter" type="checkbox" autocomplete="off" name="SelectedLocation" value="@option" @checkedString>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                    <div class="filter-option-txt capitalize">@option</div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                            if (Model.Locations.Count == 0)
                            {
                                <span>No Locations found</span>
                            }
                        }
                        @*<div class="filter-options">
                            <button type="button" class="btn btn-link more-btn">20 More</button>
                        </div>*@
                    </div>
                    <div class="filter-padding fix-height" >
                        <div class="filter-title">Language</div>
                        @{
                            foreach (var option in Model.Language)
                            {
                                var checkedString = "";
                                var activeString = "";
                                if (Model.SelectedLanguage != null)
                                {
                                    checkedString = Model.SelectedLanguage.Contains(option) ? "checked='checked'" : "";
                                    activeString = Model.SelectedLanguage.Contains(option) ? "active" : "";
                                }
                                <div class="filter-options">
                                    <div class="btn-group filter-btn" data-toggle="buttons">
                                        <label class="btn btn-default other @activeString">
                                            <input class="filter" type="checkbox" autocomplete="off" name="SelectedLanguage" value="@option" @checkedString>
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </label>
                                    </div>
                                    <div class="filter-option-txt capitalize">@option</div>
                                    <div class="clearfix"></div>
                                </div>
                            }
                            if (Model.Language.Count == 0)
                            {
                                <span>No Languages found</span>
                            }
                        }
                    </div>
                </div><!--filter-div-->
            </div><!--end filter-container-->
        </div><!--overlay-->
        <div class="search-listing-container">
            <div class="search-listing-input-group input-group">
                <input type="hidden" name="search_param" value="all" id="search_param">
                @*<input type="text" class="form-control search-listing-input" name="x" placeholder="Search...">*@
                @Html.TextBoxFor(model => model.SearchText, new { @class = "form-control search-listing-input", @placeholder = "Search..." })
                 <input type="submit" style="display: none" />
                <div class="input-group-btn search-panel2 hidden-xs">
                    <button type="button" class="search-dropdown btn-search dropdown-toggle capitalize" data-toggle="dropdown">
                        <span id="search_concept2">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDCategory dow1" role="menu">
                        <li>
                            <a href="#All">All</a>
                        </li>
                        @{
                            foreach (var option in Model.CategoryList)
                            {
                                <li>
                                    <a href="#@option.Text" value="@option.Value">@Html.Raw(option.Text)</a>
                                </li>
                                if (option.Value == Convert.ToString(Model.ParentId))
                                {
                                    <script>
                                                        window.selectedCategory = "@Html.Raw(option.Text)";
                                    </script>
                                }
                            }
                        }
                    </ul>
                    @Html.HiddenFor(m => m.ParentId, new { @id = "StdCategory" })
                </div>
                <div class="input-group-btn search-panel3 hidden-xs">
                    <button type="button" class="search-dropdown btn-search dropdown-toggle capitalize" data-toggle="dropdown">
                        <span id="search_concept3">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu nonSTDSubCategory dow1" role="menu">
                        <li>
                            <a href="#All">All</a>
                        </li>
                        @{
                            foreach (SubCategory option in Model.SubCategoryList)
                            {
                                <li class="capitalize subAll sub@{@option.Id}" style="display:none;">
                                    <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                </li>
    if (option.Value == Model.Id)
    {
                                    <script>
                                        window.selectedChild = "@Html.Raw(option.Text)";
                                    </script>
        }
    }
                        }
                    </ul>
                </div>
                @Html.HiddenFor(model => model.Id, new { @id = "StdSubCategory" })
                <span class="input-group-btn">
                    <button class="btn btn-default search-listing-icon-btn" type="button"  onclick="document.getElementsByTagName('form')[0].submit();"><span class="glyphicon"><img src='@Url.Content("~/images/search-icon-blank.png")' /></span></button>
                </span>
            </div><!--end search-listing-input-group-->
            <div class="input-group-btn visible-xs pull-right show-tm" data-toggle="offcanvas">
                <button type="button" class="btn sl-filter-button btn-default" onclick="document.getElementsByTagName('form')[0].submit();">
                    <!--Filter-->
                    <span class="glyphicon glyphicon-filter"></span>
                </button>
            </div>
            <div class="clearfix"></div>

            <div class="row-10 rbl-padding-botton-15 visible-xs show-tm">
                <div class="col-lg-6 col-xs-6 rbl-padding-left-right-10">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel5">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle capitalize" data-toggle="dropdown">
                                <span id="search_concept5">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu nonSTDCategory  dow1" role="menu">
                                <li>
                                    <a href="#All">All</a>
                                </li>
                                @{
                                    foreach (var option in Model.CategoryList)
                                    {
                                        <li>
                                            <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-6 rbl-padding-left-right-10">
                    <div class="pdf-dropdown-m">
                        <div class="input-group-btn search-panel6">
                            <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle capitalize" data-toggle="dropdown">
                                <span id="search_concept6">Filter by</span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu nonSTDSubCategory  dow1" role="menu">
                                <li>
                                    <a href="#All">All</a>
                                </li>
                               @{
                                   foreach (SubCategory option in Model.SubCategoryList)
                                   {
                                    <li class="subAll sub@{@option.Id}" style="display:none;">
                                        <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                    </li>
    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div><!--end full-width-->

            <div class="full-width rbl-margin-botton-15">
               
                <div class="pdf-dropdown-m pdf-child"  style='@((Model.SelectedFileTypes != null && Model.SelectedFileTypes.Contains(3)) ? "" : "display:none")'>
                    <div class="input-group-btn search-panel4">
                        <button type="button" class="pdf-dropdown btn-pdf dropdown-toggle capitalize" data-toggle="dropdown">
                            <span id="search_concept4">All</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#All">All</a>
                            </li>
                            @{
                                foreach (var option in Model.PdfTypeList)
                                {
                                    <li class="capitalize">
                                        <a href="#@option.Text" value="@option.Value">@option.Text</a>
                                    </li>
                                    if (option.Value == Convert.ToString(Model.pdfType))
                                    {
                                        <script>
                                            window.selectedPdf = "@option.Text";
                                        </script>
                                    }
                                }

                            }
                            @Html.HiddenFor(m => m.pdfType, new { @id = "PdfType" })
                        </ul>
                    </div>
                </div>
                @if ((((PagedList.IPagedList<RBL_MediaMaster>)ViewBag.list).Count >= 25))
                {
                <div class="show-entries-m">
                    <div class="table">
                        <div class="cell">
                            <div class="show-entries-txt">Show Entries</div>
                            <div class="show-entries-btn-group">
                                @Html.HiddenFor(m => m.PageSize, new { @id = "PageSize" })
                                <button type="button" class="btn btn-default btn-rbl-red btn-sm page-size 
                                        @{ if (Model.PageSize == 25)
                                            {
                                                @Html.Raw("active");
                                            }
                                         }">25</button>
                                <button type="button" class="btn btn-default btn-rbl-red btn-sm page-size @{
                                    if (Model.PageSize == 35)
                                    { 
                                        @Html.Raw("active");
                                    }
                                }">35</button>
                                <button type="button" class="btn btn-default btn-rbl-red btn-sm page-size @{if (Model.PageSize == 50) { @Html.Raw("active"); } }">50</button>
                            </div>                        </div>
                    </div>
                </div>
                }
                <div class="clearfix"></div>
            </div>
            <div class="full-width">
                @{

                    if (((PagedList.IPagedList<RBL_MediaMaster>)ViewBag.list).Count <= 0)
                    {
                        <div class="col-sm-12" style="text-align:center">Nothing has found</div>
                    }
                    else
                    {
                        foreach (var entry in (PagedList.IPagedList<RBL_MediaMaster>)ViewBag.list)
                        {
                            var filename = String.IsNullOrEmpty(entry.thumbnail) ? entry.filename : entry.thumbnail;
                            <a href="@RBL.Helpers.Utility.GetBaseUrl()/Home/Detail?id=@entry.id">
                                <div class="col-img-3" style="background:  url('@Url.Content("~/App_Data/uploads/"+ @filename)') center no-repeat , url('@Url.Content("~/images/default.png")') center no-repeat  ;background-size:cover;">
                                    <div class="col-img-overlay text-center">
                                        <div class="table">
                                            <div class="cell">@entry.title</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                }
                
            </div><!--end full-width-->
            <div class="clearfix"></div>
    
            @*@Html.HiddenFor(m => m.Page, new { @id = "Page" })*@
            <div class="full-width">
                <nav aria-label="...">
                    @Html.PagedListPager((IPagedList)ViewBag.list, page => Convert.ToString("#" + page),
                    new PagedListRenderOptions()
                    {
                        LinkToPreviousPageFormat = " <span aria-hidden='true'>←</span> Previous",
                        LinkToNextPageFormat = "Next <span aria-hidden='true'>→</span>",
                        UlElementClasses = new List<string> { "pager" },
                        ClassToApplyToFirstListItemInPager = "previous",
                        ClassToApplyToLastListItemInPager = "next",
                        LiElementClasses = new List<string> { "page" },
                        DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                        DisplayLinkToLastPage = PagedListDisplayMode.Never,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        DisplayLinkToIndividualPages = false,
                        DisplayPageCountAndCurrentLocation = true,
                        Display = PagedListDisplayMode.IfNeeded
                    })
                    @*@Html.PagedListGoToPageForm((IPagedList)ViewBag.list,"Search")*@
                </nav>
            </div>
        </div><!--end search-listing-container-->
        <div class="clearfix"></div>
    </div><!--end full-width-->
</div>

                    }

@section Styles {
    
    <style>
        .bg-1 {
            background: none;
            background-color: #f3f3f3;
        }
        .pagination-details {
            width: 240px;
        }
        .fix-height {
        max-height: 222px;overflow-y: scroll;
    }
    </style>

    }


@section Scripts
{
    <script>
        function disableClick(e) {
            e.stopPropagation();
            e.preventDefault();
        }
        $(document).ready(function (e) {
            if (window.selectedCategory != undefined) {
                $('.search-panel5 span#search_concept5').text(window.selectedCategory);
                $('.search-panel2 span#search_concept2').text(window.selectedCategory);
            }
            if (window.selectedChild != undefined) {
                $('.search-panel6 span#search_concept6').text(window.selectedChild);
                $('.search-panel3 span#search_concept3').text(window.selectedChild);
            }
            if (window.selectedPdf != undefined) {
                $('.search-panel4 span#search_concept4').text(window.selectedPdf);
            }
            $('.search-panel2 .dropdown-menu, .search-panel5 .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#StdCategory").val(value);
                $("#StdSubCategory").val(null);
                $(".subAll").hide();
                $(".sub" + value).show(); //
                $('.search-panel6 span#search_concept6').text("Filter by");
                $('.search-panel3 span#search_concept3').text("Filter by");
                $('.search-panel5 span#search_concept5').text(concept);
                $('.search-panel2 span#search_concept2').text(concept);
                //            $('.input-group #search_param').val(param);
            });
            $('.search-panel3 .dropdown-menu,  .search-panel6 .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#StdSubCategory").val(value);
                $('.search-panel6 span#search_concept6').text(concept);
                $('.search-panel3 span#search_concept3').text(concept);
                //            $('.input-group #search_param').val(param);
            });
            $('.search-panel4 .dropdown-menu').find('a').click(function (e) {
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                var value = $(this).attr("value");
                var concept = $(this).text();
                $("#PdfType").val(value);
                $('.search-panel4 span#search_concept4').text(concept);
                //            $('.input-group #search_param').val(param);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".page a").on("click",function (e) {
                e.stopPropagation();
                e.preventDefault();
                var param = $(this).attr("href").replace("#", "");
                $("#Page").val(param);
                document.forms[0].submit();
            });
            $(".page-size").on("click", function (e) {
                e.stopPropagation();
                e.preventDefault();
                var param = $(this).text();
                $("#PageSize").val(param);
                document.forms[0].submit();
            });
            $(".filter").on("change", function (e) {
                $(".apply").show();
            });
            var parent = $(".file-type");
            parent.find("input[type=checkbox]").on("change", function (e) {
                var value = $(this).val();
                if ($(this).is(":checked") && value == "0") {
                    parent.find("label.btn").removeClass("active");
                    parent.find("input[type=checkbox]").prop("checked", false);
                    $(this).prop("checked", true);
                    $(this).parent("label.btn").addClass("active");
                }
                else if ( (!$(this).is(":checked")) && value == "0")
                {
                    $(this).prop("checked", false);
                    $(this).parent("label.btn").removeClass("active");
                }
            });
            parent.find("label input[type=checkbox].pdf-parent").change( function (e) {
                e.stopPropagation();
                e.preventDefault();
                var child = $(".pdf-child");
                if ($(this).is(":checked")) {
                    if ($(this).val() == "0") {
                        //$(".file-type label.other").removeClass("active");
                        $("label.other").removeClass("active");
                        //$(".file-type label.other").addClass("disabled");
                        $("label.other").addClass("disabled");
                        $("label.other input").attr("checked", false);
                        $("label.btn-default.other").on("click", disableClick);
                        //$('.search-panel6 span#search_concept6 , .search-panel3 span#search_concept3, .search-panel5 span#search_concept5, .search-panel2 span#search_concept2').text("Filter by");
                        //$("#StdCategory").val(null);
                        //$("#StdSubCategory").val(null);
                        //$(".subAll").hide();
                        //$("#SearchText").val("");
                        child.hide();
                    }
                    //else
                    //{
                    //    $(".file-type label.other").removeClass("disabled");
                    //    $("label.other").off("click",disableClick);
                    //}
                    if ($(this).val() != "0") {
                        child.show();
                    }
                }
                else
                {
                    if ($(this).val() == "0") {
                        //$(".file-type label.other").removeClass("disabled");
                        $("label.other").removeClass("disabled");
                        //$(".file-type label.other").removeClass("active");
                        //$("label.other").removeClass("active");
                        //$("label.other input").attr("checked", false);
                        $("label.other").off("click",disableClick);
                    }
                    child.hide();
                }
            });
        });
       


        var secondLi = document.querySelectorAll("nav div ul.pager li:nth-child(2)")[0];
        secondLi.classList.remove("disabled");
        var node = '<a class="remove-theme">'
                                + '<span class="input-group pagination-details">'
                                   + ' <span class="input-group-addon">Go to Page</span> '
                                    + '@Html.TextBoxFor(m => m.Page, new { @id = "Page", @class = "form-control remove-padding text-center add-border-radius-left-4" })'
                                   + ' <span class="pagination-txt">' + secondLi.firstElementChild.text + '</span>'
                               + '</span>'
                            + '</a>';
        secondLi.innerHTML = node;
    </script>
            @if (!string.IsNullOrEmpty(checkAllString))
            {
                <script>
                    $(document).ready(function (e) {
                        $(".file-type").find("label input.pdf-parent.main").trigger("click");
                    });
                </script>
            }
}
