
.icon-location-outline:before { content: '\e800'; } /* '' */
.icon-calendar:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-play-circled2:before { content: '\e805'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-language:before { content: '\f1ab'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-window-close:before { content: '\f2d3'; } /* '' */