@media screen and (min-width: 320px) and (max-width: 425px){
    .container, .container-fluid {
        max-width: 1366px;
        height: calc(100% - 92px);
    }
}
@media screen and (min-width: 426px) and (max-width: 767px){
    .container, .container-fluid {
        max-width: 1366px;
        height: calc(100% - 55px);
    }
}
@media (min-width: 768px) {
    .container, .container-fluid {
        max-width: 1366px;
        height: calc(100% - 55px);
    }
    .container-fluid .container-fluid {
        height: auto;
    }
}/*** (min-width: 768px) ***/
@media (min-width: 1368px) {
    .login-logo {
        margin: 25px auto 9vh auto;
    }
    .login-logo {
        width: 200px;
    }
}

@media screen and (max-width: 1024px){
    .search-input-group{
        width: 94%;
    }
    .col-img-overlay{
        font-size: 14px;
    }
}/*** (max-width: 1024) ***/

@media screen and (max-width: 768px){
    .search-input-group{
        width: 100%;
    }
    .filter-container{
        width: 200px;
    }
    .search-listing-container{
        width: calc(100% - 200px);
    }
    .col-img-3 {
        width: calc(50% - 12px);
        /*height: 168px;*/
    }
    .preview-search-container{
        /*width: calc(100% - 200px);*/
        width: calc(100% - 260px);
    }
}/*** (max-width: 768px) ***/

@media screen and (max-width: 991px) {
    .preview-details-container {
        min-height: auto;
    }
}/*** (max-width: 991px) ***/

@media screen and (max-width: 767px){
    /*HTML{
        width: 100%;
        height: auto;
    }
    body{
        width: 100%;
        height: auto;
    }*/
    .footer-mar-top {
        margin-top:60%;
    }
    .dow {
        top:52px;
    }
    .dow1 {
        top:39px;
    }
    .navbar-brand {
        height: auto;
    }
    .rbl-padding-right-15{
        padding-right: 0px;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #ed373c;
        background-color: #f0f0f0;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
    }
    .menu-txt {
        padding: 7px 0px 0px 10px;
    }

    .show-entries-m{
        display: none;
    }
    .search-listing-container{
        padding-left: 0px;
        width: 100%;
    }
    .col-img-3 {
        width: calc(33.33% - 12px);
        height: 168px;
    }
    /*.search-panel2, .search-panel3 {*/
        /*display: none;*/
    /*}*/
    #search_concept5, #search_concept6{
        width: calc(100% - 15px);
        float: left;
        text-align: left;
    }
    .pdf-dropdown-m{
        width: 100%;
    }
    .search-listing-input-group{
        margin: 0px auto 10px auto;
        float: left;
        width: calc(100% - 60px);
    }
    .preview-search-input-group{
        margin: 0px auto 10px auto;
        float: left;
        width: calc(100% - 6px);
    }
    .rbl-padding-botton-15{
        padding-bottom: 10px;
    }
    .col-img-overlay{
        font-size: 16px;
    }
    .search-panel2, .search-panel3 {
         border-left: 0px solid transparent;
    }
    .overlay{
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 80px;
        left: 0;
        background-color: rgba(0,0,0,.4);
        z-index: 9;
    }
    .filter-close{
        display: block;
        position: absolute;
        top: 8px;
        right: 5px;
        font-size: 25px;
        color: #000000;
    }
    .filter-close2 {
        position: fixed;
        display: block;
        float: left;
        width: calc(100% - 250px);
        height: 100%;
    }
    .toggled {
        display: block!important;
    }
    .download-filter-container {
        display: none;
    }
    .preview-search-container{
        padding-left: 0px;
        width: calc(100% - 50px);
    }
    .rbl-remove-padding-right-xs{
        padding-right: 0px!important;
    }
}/*** max-width: 767px ***/

@media screen and (max-width: 599px){
    .col-img-3 {
        width: calc(50% - 12px);
        height: 150px;
    }
    .goto-page{
        display: none !important;
    }
    .slider-download-btn{
        padding: 6px 6px;
        font-size: 25px;
    }
    .login-main, .forgot-main{
        width: 100%;
        padding: 15px 10% 30px 10%;
        background-size: 100% 100%;
    }
    .form-main{
        min-height: 370px;
    }
}/*** max-width: 599 ***/

@media screen and (max-width: 425px){
    .search-input-group{
        margin: 100px auto 40px auto;
        height: 50px;
    }
    .search-input{
        padding: 6px 6px 6px 0px;
        height: 50px;
        font-size: 16px;
    }
    .search-icon-btn span img{
        width: 18px;
    }
    .search-icon-btn{
        padding: 6px 10px 6px 10px !important;
    }
    .rbl-copyright-txt{
        float: none !important;
        font-size: 14px;
    }
    .rbl-designedby-txt{
        padding-top: 20px;
        float: none !important;
        font-size: 12px;
    }
    .category{
        font-size: 12px;
    }
    .category h1{
        font-size: 16px;
    }
    .category-icon{
        height: 37px;
    }
    .col-img-3 {
        width: calc(50% - 12px);
        height: 140px;
    }
    .col-img-overlay{
        font-size: 12px;
    }


    .search-listing-icon-btn {
        padding: 0px 10px 0px 10px !important;
    }
    .search-listing-input-group {
        margin: 0px auto 8px auto;
        height: 38px;
        width: calc(100% - 50px);
    }
    .preview-search-input-group {
        margin: 0px auto 8px auto;
        height: 38px;
    }
    .search-listing-input{
        height: 38px;
    }
    .search-listing-icon-btn span img {
        width: 18px;
    }
    .search-listing-input{
        padding: 6px 6px;
        font-size: 16px;
    }
    .sl-filter-button {
        padding: 0px 11px;
        height: 40px;
    }
    .pdf-dropdown{
        height: 38px;
        font-size: 14px;
        padding: 0px 12px;
    }
    .pdf-dropdown-m {
        height: 40px;
    }
    .rbl-padding-botton-15 {
        padding-bottom: 8px;
    }
    .download-filter-button{
        padding: 0px 10px !important;
        height: 40px;
    }
    .flex-direction-nav a:before {
        font-family: "flexslider-icon";
        font-size: 20px!important;
    }
    .flex-direction-nav a{
        width: 20px!important;
        height: 30px!important;
        margin: -14px 0 0!important;
    }
    .search-panel5 .dropdown-menu{
        left: 0px;
        right: inherit;
    }
}/*** max-width: 425 ***/

@media screen and (max-width: 360px){
    .col-img-3 {
        width: calc(50% - 12px);
        height: 120px;
    }
    .col-img-overlay{
        font-size: 11px;
    }
}/*** max-width: 360 ***/

@media (max-width: 767px) and (min-width: 0px){
    .filter-container {
        display: block;
        position: fixed;
        top: 80px;
        /*right: -100%;*/
        right: 0px;
        float: right;
        width: 78%;
        height: calc(100% - 80px);
        z-index: 99;
        overflow: visible;
        overflow-y: auto;
        border-radius: 0px;
        -webkit-border-radius: 0px;
    }
    .filter-div {
        height: calc(100% - 60px);
        width: 100%;
        float: left;
        overflow-y: auto;
    }
}/*** (max-width: 767px) and (min-width: 0px) ***/