HTML{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  font-weight: 400;
  min-width: 320px;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.cell {
  vertical-align: middle;
  display: table-cell;
}
/*************** home start ***************/
.sub-img img {
    width: 100%;
    height: 100%;
}
.sub-img {
    width: 72px;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
}
.image {
    width: 100%;
    height: 100%;
}
.dropdown-menu{
  left: inherit;
  right: 0 !important;
}
.bg-1 {
  background: url(../../images/home-bg.jpg) top center no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.navbar-inverse{
  background-image: -webkit-linear-gradient(top, #FFF 0%, #FFF 100%);
  background-image:      -o-linear-gradient(top, #FFF 0%, #FFF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
  background-image:         linear-gradient(to bottom, #FFF 0%, #FFF 100%);
}
.navbar-inverse {
   background-color: #FFF;
  /*border-color: #e0e1e1;*/
  border-color: rgba(0,0,0,0.15);
}
.navbar-inverse::after{
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .16);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0px;
  transition: opacity 0.4s;
  width: 100%;
  will-change: opacity;
  z-index: 2050;
}
.navbar{
  min-height: 75px;
}
.search-input-group{
  margin: 140px auto 40px auto;
  width: 1015px;
  height: 70px;
  background: #ffffff;
}
.search-icon-btn{
  padding: 6px 12px 6px 20px !important;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-icon-btn:focus,
.search-icon-btn:active:focus,
.search-icon-btn.active:focus,
.search-icon-btn.focus,
.search-icon-btn:active.focus,
.search-icon-btn.active.focus {
  /*outline: 5px auto -webkit-focus-ring-color;*/
  outline-offset: -2px;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-icon-btn:hover,
.search-icon-btn:focus,
.search-icon-btn.focus {
  color: #333;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-icon-btn:active,
.search-icon-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-icon-btn span{
  font-size: 30px;
  color: #6c6c6c;
  background: url(../../images/search-icon.svg) center no-repeat;
  background-size: 100%;
}
.search-icon-btn span img{
  width: 38px;
}
.search-input {
  display: block;
  height: 70px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-input:focus {
  color: #000000;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-input::-moz-placeholder {
  /*color: #6c6c6c;*/
  color: #999999;
  opacity: 1;
}
.search-input:-ms-input-placeholder {
  /*color: #6c6c6c;*/
  color: #999999;
}
.search-input::-webkit-input-placeholder {
  /*color: #6c6c6c;*/
  color: #999999;
}
.search-panel{
  /*border-left: 1px solid #ccd3d3;*/
  background: url(../../images/dropdown-divider.svg) left center no-repeat;
}
.search-dropdown {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.search-dropdown:focus,
.search-dropdown:active:focus,
.search-dropdown.active:focus,
.search-dropdown.focus,
.search-dropdown:active.focus,
.search-dropdown.active.focus {
  /*outline: 5px auto -webkit-focus-ring-color;*/
  outline-offset: -2px;
}
.search-dropdown:hover,
.search-dropdown:focus,
.search-dropdown.focus {
  color: #333;
  text-decoration: none;
}
.search-dropdown:active,
.search-dropdown.active {
  background-image: none;
  outline: 0;
  /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
  /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
}
.btn-search {
  color: #6c6c6c;
  background-color: #fff;
  border-color: transparent;
  outline:none;
}
.btn-search:focus,
.btn-search.focus {
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.btn-search:hover{
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.category{
  padding-bottom: 40px;
  font-size: 14px;
  color:#e0e0e0;
  font-weight: 400;
}
.category h1{
   font-size: 20px;
   color:#ffffff;
   font-weight: 400;
 }
.category-icon{
  margin-bottom: 15px;
  width: 100%;
  height: 47px;
  background: url(../../images/category-icon.png) center no-repeat;
  background-size: auto 100%;
}
.rbl-footer{
  padding: 12px 0;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #eae8e7;
  font-weight: 400;
  border-top: 5px solid #d30000;
  border-bottom: 5px solid #193284;
}
.menu-icon{
  padding: 0px !important;
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.menu-icon:hover,
.menu-icon:focus{
  border: 1px solid #ed373c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.menu-txt{
  position: relative;
  display: block;
  padding: 5px 0px 0px 10px;
}
.menu-txt-logout{
  position: relative;
  display: block;
  padding: 0px 0px 0px 10px;
  line-height: 16px;
}
.login-icon{
  background: url(../../images/login-icon.png) center no-repeat;
}
.user-icon{
  background: url(../../images/user-icon.svg) center no-repeat;
}
.upload-icon{
  background: url(../../images/upload-icon.png) center no-repeat;
}
/*************** home end ***************/
.row-10{
  margin-right: -10px;
  margin-left: -10px;
}
.remove-theme{
  padding: 0px !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
.remove-padding{
  padding: 0!important;
}
.add-border-radius-left-4{
  -webkit-border-top-right-radius: 4px!important;
  -webkit-border-bottom-right-radius: 4px!important;
  -moz-border-radius-topright: 4px!important;
  -moz-border-radius-bottomright: 4px!important;
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}
.rbl-padding-right-15{
  padding-right: 15px;
}
.rbl-padding-top-15{
  padding-top: 15px;
}
.rbl-padding-botton-15{
  padding-bottom: 15px;
}
.rbl-padding-botton-30{
  padding-bottom: 30px;
}
.rbl-padding-left-right-10{
  padding-right: 10px;
  padding-left: 10px;
}
.rbl-margin-top-8{
  margin-top: 8px;
}
.rbl-margin-botton-15{
  margin-bottom: 15px;
}
.rbl-overflow-hidden{
  overflow: hidden;
}
.rbl-remove-padding-left-right{
  padding-right: 0px!important;
  padding-left: 0px!important;
}
.rbl-remove-padding-right{
  padding-right: 0px!important;
}
.rbl-remove-padding-left{
  padding-left: 0px!important;
}
/*************** search listing start ***************/
.top-spacing{
  width: 100%;
  height: 80px;
}
.search-listing-input-group{
  margin: 0px auto 15px auto;
  height: 50px;
  background: #ffffff;
  border:1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.search-listing-input-group input{
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.search-listing-icon-btn{
  padding: 6px 12px 6px 20px !important;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-listing-icon-btn:focus,
.search-listing-icon-btn:active:focus,
.search-listing-icon-btn.active:focus,
.search-listing-icon-btn.focus,
.search-listing-icon-btn:active.focus,
.search-listing-icon-btn.active.focus {
  outline-offset: -2px;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-listing-icon-btn:hover,
.search-listing-icon-btn:focus,
.search-listing-icon-btn.focus {
  color: #333;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-listing-icon-btn:active,
.search-listing-icon-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-listing-icon-btn span{
  font-size: 30px;
  color: #6c6c6c;
  background: url(../../images/search-icon.svg) center no-repeat;
  background-size: 100%;
}
.search-listing-icon-btn span img{
  width: 21px;
}
.search-panel2, .search-panel3{
  border-left: 1px solid #c2c2c2;
}
.search-listing-input {
  display: block;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-listing-input:focus {
  color: #000000;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-listing-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.search-listing-input:-ms-input-placeholder {
  color: #999999;
}
.search-listing-input::-webkit-input-placeholder {
  color: #999999;
}
.filter-container{
  margin-bottom: 20px;
  float: left;
  width: 260px;
  min-height: 200px;
  background: #ffffff;
  border:1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.search-listing-container{
  padding-left: 25px;
  float: left;
  width: calc(100% - 260px);
}
.pdf-dropdown-m{
  float: left;
  width: 260px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.pdf-dropdown {
  width: 100%;
  height: 48px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pdf-dropdown:focus,
.pdf-dropdown:active:focus,
.pdf-dropdown.active:focus,
.pdf-dropdown.focus,
.pdf-dropdown:active.focus,
.pdf-dropdown.active.focus {
  outline-offset: -2px;
}
.pdf-dropdown:hover,
.pdf-dropdown:focus,
.pdf-dropdown.focus {
  color: #333;
  text-decoration: none;
}
.pdf-dropdown:active,
.pdf-dropdown.active {
  background-image: none;
  outline: 0;
}
.btn-pdf {
  color: #6c6c6c;
  background-color: #fff;
  border-color: transparent;
  outline:none;
}
.btn-pdf:focus,
.btn-pdf.focus {
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.btn-pdf:hover{
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
#search_concept4{
  width: calc(100% - 15px);
  float: left;
  text-align: left;
}
.show-entries-m{
  width: 225px;
  height: 50px;
  float: right;
}
.btn-rbl-red{
  font-size: 14px;
}
.btn-rbl-red:focus,
.btn-rbl-red.focus {
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.btn-rbl-red:hover{
  font-size: 14px;
  color:#ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.btn-rbl-red:active,
.btn-rbl-red.active{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.btn-rbl-red:active:hover,
.btn-rbl-red.active:hover,
.btn-rbl-red:active:focus,
.btn-rbl-red.active:focus,
.btn-rbl-red:active.focus,
.btn-rbl-red.active.focus{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.show-entries-txt{
  padding: 5px 10px 5px 0px;
  float: left;
  color: #6c6c6c;
  font-size: 16px;
}
.show-entries-btn-group{
  float: left;
}
.col-img-3{
  cursor: pointer;
  position: relative;
  margin-right: 12px;
  margin-bottom: 12px;
  float: left;
  width: calc(25% - 12px);
  height: 168px;
  background: url(../../images/default.png) center no-repeat;
  background-size:cover;
}
.col-img-3:last-of-type{
  margin-left: 0px;
}
.col-img-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #FFFFFF;
  background: rgba(0,0,0,0.74);
  opacity: 0;
}
.col-img-3:hover .col-img-overlay{
  opacity: 1.0;
}
.pagination-txt{
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
  display: table-cell;
  color: #6c6c6c;
  font-size: 16px;
}
.pagination-details{
  width: 205px;
}
.filter-padding{
  padding: 15px 15px 5px 15px;
  border-bottom: 1px solid #a7a7a7;
}
.filter-padding:last-of-type{
  border-bottom: 1px solid transparent;
}
.filter-title{
  padding-bottom: 8px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.filter-options{
  padding-bottom: 8px;
  width: 100%;
}
.filter-btn{
  float: left;
}
.filter-btn .btn {
  padding: 2px 5px;
}
.filter-btn .btn span.glyphicon {
  opacity: 0;
}
.filter-btn .btn.active span.glyphicon {
  opacity: 1;
}
.filter-option-txt{
  padding-top: 2px;
  padding-left: 15px;
  float: left;
  color: #7b7b7b;
  font-size: 16px;
}
.filter-btn .btn:active,
.filter-btn .btn.active{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.filter-btn .btn:active:hover,
.filter-btn .btn.active:hover,
.filter-btn .btn:active:focus,
.filter-btn .btn.active:focus,
.filter-btn .btn:active.focus,
.filter-btn .btn.active.focus{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.more-btn{
  padding: 0px;
  color: #ed3237;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.more-btn:hover,
.more-btn:focus{
  color: #ed3237;
}
.search-location-input-group{
  margin: 0px auto 15px auto;
  height: 30px;
  background: #ffffff;
  border-bottom: 2px solid #a7a7a7;
}
.search-location-input {
  padding: 6px 0px;
  display: block;
  height: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.42857143;
  color: #7b7b7b;
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-location-input:focus {
  color: #000000;
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-location-input::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.search-location-input:-ms-input-placeholder {
  color: #999999;
}
.search-location-input::-webkit-input-placeholder {
  color: #999999;
}
.search-location-icon-btn{
  padding: 0px 12px 0px 0px !important;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-location-icon-btn:focus,
.search-location-icon-btn:active:focus,
.search-location-icon-btn.active:focus,
.search-location-icon-btn.focus,
.search-location-icon-btn:active.focus,
.search-location-icon-btn.active.focus {
  outline-offset: -2px;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-location-icon-btn:hover,
.search-location-icon-btn:focus,
.search-location-icon-btn.focus {
  color: #333;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.search-location-icon-btn:active,
.search-location-icon-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.search-location-icon-btn span{
  color: #6c6c6c;
  background: url(../../images/search-icon.svg) center no-repeat;
  background-size: 100%;
}
.search-location-icon-btn span img{
  width: 15px;
}
.sl-filter-button{
  float: right;
  padding: 6px 16px;
  font-size: 20px;
  color: #000;
  height: 52px;
}
.sl-filter-button:hover,
.sl-filter-button:focus{
  color: #FFFFFF;
  background: #ed3237;
}
.sl-filter-button:active:hover,
.sl-filter-button.active:hover,
/*.open > .dropdown-toggle.btn-default:hover,*/
.sl-filter-button:active:focus,
.sl-filter-button.active:focus,
/*.open > .dropdown-toggle.btn-default:focus,*/
.sl-filter-button:active.focus,
.sl-filter-button.active.focus
/*.open > .dropdown-toggle.btn-default.focus {*/{
  color: #FFFFFF;
  background-color: #ed3237;
  border-color: #ed3237;
}
.overlay{
  display: block;
}
.filter-close{
  display: none;
}
.filter-close2 {
  display: none;
}
.toggled {
  display: block!important;
}
/*************** search listing end ***************/


/*************** preview start ***************/
.dow1 {
        top:54px;
    }
.download-filter-container{
  width: 260px;
  height: auto;
}
.download-dropdown-m{
  float: left;
  width: 260px;
  /*height: 50px;*/
  line-height:53px;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.download-dropdown {
  width: 100%;
  height: 48px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.download-dropdown:focus,
.download-dropdown:active:focus,
.download-dropdown.active:focus,
.download-dropdown.focus,
.download-dropdown:active.focus,
.download-dropdown.active.focus {
  outline-offset: -2px;
}
.download-dropdown:hover,
.download-dropdown:focus,
.download-dropdown.focus {
  color: #333;
  text-decoration: none;
}
.download-dropdown:active,
.download-dropdown.active {
  background-image: none;
  outline: 0;
}
.btn-download {
  color: #6c6c6c;
  background-color: #fff;
  border-color: transparent;
  outline:none;
}
.btn-download:focus,
.btn-download.focus {
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.btn-download:hover{
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}

.preview-details-container{
  margin-bottom: 20px;
  float: left;
  width: 100%;
  min-height: 530px;
  background: #ffffff;
  border:1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}

.keyword-title{
  padding-bottom: 8px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}
.keyword .btn{
  margin-bottom: 5px;
}
.details-title{
  padding-bottom: 8px;
  font-size: 22px;
  color: #000000;
  font-weight: 700;
}
.details-desc{
  font-size: 14px;
  color: #6c6c6c;
}
.download-dropdown-m .dropdown-menu > li > a,
.download-filter-button-m .dropdown-menu > li > a {
  padding: 3px 20px 3px 10px;
}
.prev-details-padding{
  padding: 15px 15px 20px 15px;
  border-bottom: 1px solid #a7a7a7;
}
.prev-details-padding:last-of-type{
  border-bottom: 1px solid transparent;
}
.prev-details-list{
  padding-bottom: 8px;
  font-size: 18px;
  color: #000000;
}
.prev-details-list2{
  padding-bottom: 8px;
  font-size: 17px;
  color: #000000;
}
.prev-details-list i, .prev-details-list2 i{
  padding-right: 10px;
  color: #ed3237;
}
.category-filter .btn{
  padding: 6px 8px;
  font-size: 16px;
  background: transparent!important;
}
.category-filter .btn:hover,
.category-filter .btn:focus{
  color: #ed3237;
}
.category-filter .btn.active{
  color: #ed3237;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.slider-download-btn{
  z-index:9;position:absolute;top:0px;right:0px;
  padding: 8px 10px;
  font-size: 40px;
  color: #FFFFFF;
  background: transparent!important;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  /*text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);*/
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}
.slider-download-btn.btn:hover,
.slider-download-btn.btn:focus{
  color: #ed3237;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  box-shadow: none;
  outline: 0;
}

.download-filter-button{
  float: right;
  padding: 6px 10px;
  font-size: 20px;
  color: #000;
  height: 52px;
}
.download-filter-button:hover,
.download-filter-button:focus{
  color: #FFFFFF;
  background: #ed3237;
}
.download-filter-button:active:hover,
.download-filter-button.active:hover,
  /*.open > .dropdown-toggle.btn-default:hover,*/
.download-filter-button:active:focus,
.download-filter-button.active:focus,
  /*.open > .dropdown-toggle.btn-default:focus,*/
.download-filter-button:active.focus,
.download-filter-button.active.focus
  /*.open > .dropdown-toggle.btn-default.focus {*/{
  color: #FFFFFF;
  background-color: #ed3237;
  border-color: #ed3237;
}

.preview-search-container{
  /*padding-left: 25px;*/
  padding-left: 15px;
  float: left;
  width: calc(100% - 260px);
}
.preview-search-input-group{
  margin: 0px auto 15px auto;
  height: 50px;
  background: #ffffff;
  border:1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.preview-search-input-group input{
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}

/*************** preview end ***************/


/*************** login start ***************/
.login-logo {
  width: 175px;
  height: auto;
  text-align: center;
  margin: 25px auto 15px auto;
}
.login-logo img {
  width: 100%;
  height: auto;
}
.login-main {
  width: 500px;
  height: auto;
  margin: 0 auto;
  padding: 15px 70px 30px 70px;
  background: transparent url(../../images/login-bg.png) center no-repeat;
  background-size: auto 100%;
}
.forgot-main{
  /*width: 360px;*/
  width: 500px;
  height: auto;
  background: #FFFFFF;
  margin: 0 auto;
  /*padding: 15px;*/
  padding: 15px 70px 30px 70px;
  background: transparent url(../../images/login-bg.png) center no-repeat;
  background-size: auto 100%;
}
.login-remember-mar-top-bottom-10{
  margin: 10px 0 30px 0;
}
.login-forgot-mar-button-top-90{
  margin-top:90px!important;
}
.login-forgot-mar-email-top-60{
  margin-top:60px;
}
.form-main{
  width: 100%;
  height: auto;
  min-height: 380px;
  border-bottom: 1px solid #a7a7a7;
}
.form-main label{
  margin-top: 5px;
  margin-bottom: 0px;
 font-size: 16px;
  font-weight: 400;
}
.forgot-pass {
  cursor: pointer;
  /*width: 100%;*/
  height: auto;
  text-transform: uppercase;
  font-size: 13px;
  color: #000;
  text-align: center;
  /*margin-top: 20px;*/
  /*margin-bottom: 10px;*/
  display: table;
  margin: 20px auto 10px auto;
}
.forgot-pass:hover {
  color: red;
}
.admin-check-btn{
  float: left;
  padding-right: 20px;
}
.admin-check-txt{
  float: left;
  margin-top: 10px;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}
.admin-check-btn .btn {
  float: left;
  padding: 2px 5px;
}
.admin-check-btn .btn span.glyphicon {
  opacity: 0;
}
.admin-check-btn .btn.active span.glyphicon {
  opacity: 1;
}
.admin-check-btn .btn:active,
.admin-check-btn .btn.active{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.admin-check-btn .btn:active:hover,
.admin-check-btn .btn.active:hover,
.admin-check-btn .btn:active:focus,
.admin-check-btn .btn.active:focus,
.admin-check-btn .btn:active.focus,
.admin-check-btn .btn.active.focus{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
form {
}
.signin-title {
  width: 100%;
  height: auto;
  text-transform: uppercase;
  font-size: 18px;
  color: #ed3237;
  text-align: center;
  margin-bottom: 15px;
}
.form-main input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  background: #f5f5f5;
}
.form-main button {
  background-color: #ed3237;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.form-main button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
span.psw {
  float: right;
  padding-top: 16px;
}
.login-submit-btn{
  font-size: 18px;
}
.login-submit-btn:hover{
  color: #FFFFFF;
}
/*************** login end ***************/

/***************** utility**************/

.capitalize {
    text-transform:capitalize;
}