﻿@using RBL.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>RBL BANK LTD</title>

    <!-- Bootstrap core CSS -->
    <link href="@Url.Content("~/Content/frontend/bootstrap.css")" rel ="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    
    <link href="@Url.Content("~/Content/frontend/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/frontend/media.css")" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="bg-1">

    <div class="container rbl-remove-padding-left-right" role="main">

        <div class="login-logo"><a href="@Url.Content("~/")"><img src="@Url.Content("~/images/logo-white-old.png")" /></a></div>
        <div style="width:100%;height:auto;float:left">
            <div class="login-main">
                <div class="form-main">
                 
                        <input style="display:none">
                        <input type="password" style="display:none">
                      
                        <div class="signin-title">Sign IN</div>
                        <span class="text-errr">@ViewBag.sessionTimeout</span>
                        @Html.ValidationSummary(true, "", new { @class = "text-errr" })
                        <div>
                            <label>USERNAME</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" , autocomplete = "off", autocorrect = "off"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-errr" })
                        </div>
                        <div>
                            <label>PASSWORD</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", autocorrect = "off" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-errr"  })
                        </div>
                        <div class="admin-check-btn login-remember-mar-top-bottom-10" data-toggle="buttons">
                            <label class="btn btn-default">
                                @Html.CheckBoxFor(m => m.RememberMe, new { autocomplete = "off" })
                                @*<input type="checkbox" name="RememberMe" autocomplete="off">*@
                                <span class="glyphicon glyphicon-ok"></span>
                            </label>
                            <div class="admin-check-txt">Remember Me</div>
                        </div>
                        @Html.ValidationMessageFor(m => m.RememberMe, "", new { @class = "text-errr" })
                        <button type="button" onclick="submitCustom()" class="btn login-submit-btn">Submit</button>
@using (Html.BeginForm("Login", "Account", new { }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="Email" id="email2"/>
    <input type="hidden" name="Password" id="pass2"/>
}

                </div>
                <div id="forgot-pass" class="forgot-pass" style="visibility:hidden">Forgot Password</div>
            </div>

            <div class="forgot-main" style="display: none">
                <div class="form-main">
                    <div class="signin-title">FORGOT PASSWORD</div>

                    <label class="login-forgot-mar-email-top-60">EMAIL ID</label>
                    <input type="text" placeholder="Enter Email ID" name="uname" required>

                    <button type="submit" class="btn login-submit-btn login-forgot-mar-button-top-90">Submit</button>

                </div>
                <div id="login" class="forgot-pass">Login</div>

            </div>
        </div>
        </div> <!-- /container -->
    <div class="clearfix"></div>
    <footer class="rbl-footer">
        <div class="container-fluid">
            <div class="pull-left rbl-copyright-txt">Copyright © 2017 RBL Bank Ltd. </div>
             <a href="http://www.i-xltech.com/" target="_blank"><div class="pull-right rbl-designedby-txt">Designed by i-XL Technologies</div></a>
            <div style="margin:0 auto;">@RBL.Helpers.Constant.version</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
    <script src="@Url.Content("~/Content/frontend/js/bootstrap.min.js")"></script>
<script src="@Url.Content("~/Content/frontend/js/core.js")"></script>
  @*  <script src="@Url.Content("~/Content/frontend/js/cipher-core.js")"></script>
    <script src="@Url.Content("~/Content/frontend/js/aes.js")"></script>*@
    <script src="@Url.Content("~/Content/frontend/js/enc-base64-min.js")"></script>
    <!--<script src="js/docs.min.js"></script>-->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <script>

        function submitCustom() {
            var uname = document.getElementById("Email");
            var upass = document.getElementById("Password");
            var wordArray = CryptoJS.enc.Utf8.parse(uname.value);
            var unameBase64 = CryptoJS.enc.Base64.stringify(wordArray);
            wordArray = CryptoJS.enc.Utf8.parse(upass.value);
            var upassBase64 = CryptoJS.enc.Base64.stringify(wordArray);
            document.getElementById("email2").value = unameBase64;
            document.getElementById("pass2").value = upassBase64;
            document.forms[0].submit();
        }
    $(document).ready(function(e){
        $('.search-panel .dropdown-menu').find('a').click(function(e) {
            e.preventDefault();
            var param = $(this).attr("href").replace("#","");
            var concept = $(this).text();
            $('.search-panel span#search_concept').text(concept);
            $('.input-group #search_param').val(param);
        });
    });
    </script>
    <script>
    $(document).ready(function(){
        $("#forgot-pass").click(function(){
            $(".login-main").hide();
            $(".forgot-main").show();
        });
        $("#login").click(function(){
            $(".login-main").show();
            $(".forgot-main").hide();
        });
    });
    </script>
</body>
</html>


@*<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use a local account to log in.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </div>
                @*<p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}