﻿
@{
    ViewBag.Title = "UnlockUser";
    // Layout = "~/Views/Shared/_FrontendLayout.cshtml";
    Layout = null;
}
<div class="container" role="main">
    <div class="row">
        <h2>@ViewBag.msg</h2>
    </div>
</div>