﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - RBL</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Styles/frontend")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body class="bg-1">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~/")"><img src="@RBL.Helpers.Utility.GetBaseUrl()/images/logo-old.png" /></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            @*@{ 

                <ul class="nav navbar-nav navbar-right rbl-padding-right-15">
                    @if(Session["uid"] == null) { 
                    <!--<li><a href="#"><span class="menu-icon upload-icon pull-left"></span><span class="menu-txt pull-left">UPLOAD</span><span class="clearfix"></span></a></li>-->
                    <li><a href="@Url.Content("~/Account/Login")"><span class="menu-icon login-icon pull-left"></span><span class="menu-txt pull-left">LOGIN</span><span class="clearfix"></span></a></li>
                    <!--<li><a href="#"><span class="menu-icon user-icon pull-left"></span><span class="menu-txt-logout pull-left">AJAY<br>Logout</span><span class="clearfix"></span></a></li>-->
                    }
                    else
                    {
                        var permmissions = (long?[])Session["permission"];
                        if (permmissions != null && permmissions.Contains((int)RBL.Enums.Permission.FileAdd))
                        {
                            @*<li><a href="@Url.Content("~/Media/Create")"><span class="menu-icon upload-icon pull-left"></span><span class="menu-txt pull-left">UPLOAD</span><span class="clearfix"></span></a></li>
                        }
                        <li><a href="#logout" onclick="logoutAfterConfirm()"><span class="menu-icon user-icon pull-left"></span><span class="menu-txt-logout pull-left">@Session["uname"].ToString().ToUpper()<br>Logout</span><span class="clearfix"></span></a></li>
                    }
                </ul>
               
            }*@
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    @RenderBody()

    <div class="clearfix"></div>
    <footer class="rbl-footer">
        <div class="container-fluid">
            <div class="pull-left rbl-copyright-txt">Copyright © 2017 RBL Bank Ltd. </div>
            <a href="http://www.i-xltech.com/" target="_blank"><div class="pull-right rbl-designedby-txt">Designed by i-XL Technologies</div></a>
            <div style="margin:0 auto;">@RBL.Helpers.Constant.version</div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/frontend/js")
    @RenderSection("scripts", required: false)
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
    <script>
                    function logoutAfterConfirm() {
                        var link = '@Url.Content("~/Home/Logout")';
                        var isLogout = window.confirm("Do you Really want to logout");
                        if (isLogout) {
                            window.location.href = link
                        }
                    }
    </script>
</body>
</html>
