﻿@using RBL.Enums;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - RBL</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        @Html.ActionLink("RBL Creative Repository", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Content("~/Home/Dashboard")"><img src="@Url.Content("~/images/logo-old.png")" /></a>
            </div>
            <!-- Top Menu Items -->
            @{

                <ul class="nav navbar-nav navbar-right rbl-padding-right-15">
                    @if (Session["uid"] == null) {
                    <!--<li><a href="#"><span class="menu-icon upload-icon pull-left"></span><span class="menu-txt pull-left">UPLOAD</span><span class="clearfix"></span></a></li>-->
                    <li><a href="@Url.Content("~/Account/Login")"><span class="menu-icon login-icon pull-left"></span><span class="menu-txt pull-left">LOGIN</span><span class="clearfix"></span></a></li>
                    <!--<li><a href="#"><span class="menu-icon user-icon pull-left"></span><span class="menu-txt-logout pull-left">AJAY<br>Logout</span><span class="clearfix"></span></a></li>-->
                    }
                    else
                    {
                    @*<li><a href="@Url.Content("~/Media/Create")"><span class="menu-icon upload-icon pull-left"></span><span class="menu-txt pull-left">UPLOAD</span><span class="clearfix"></span></a></li>*@
                    <li><a href="#logout" onclick="logoutAfterConfirm()"><span class="menu-icon user-icon pull-left"></span><span class="menu-txt-logout pull-left">@Session["uname"].ToString().ToUpper()<br>Logout</span><span class="clearfix"></span></a></li>
                    }
                </ul>

            }
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav admin-navbar-nav side-nav">
                    @{ var permmissions = (long?[])Session["permission"]; }
                    @if( RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && ( permmissions.Contains((int)Permission.CategoryAdd) || permmissions.Contains((int)Permission.CategoryEdit) || permmissions.Contains((int)Permission.CategoryView))))
                    {
                        var isCategory = Request.RawUrl.Contains("Category") ? true : false;
                        <li>
                            <a  class="@Html.Raw(isCategory?"side-menu-active":"")" href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-file-o"></i> Category Management <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo" class="collapse">
                                <li class="@Html.Raw(isCategory && !Request.RawUrl.Contains("Sub")?"side-menu-active":"")">
                                    @Html.ActionLink("Category", "Index", "Category")
                                </li>
                                <li class="@Html.Raw(isCategory && Request.RawUrl.Contains("Sub")?"side-menu-active":"")">
                                    @Html.ActionLink("Sub Category", "SubIndex", "Category")
                                </li>
                            </ul>
                        </li>
                    }
                    @if (RBL.Helpers.Utility.turnOffAuth()  || (permmissions != null && (permmissions.Contains((int)Permission.FileAdd) || permmissions.Contains((int)Permission.FileEdit) || permmissions.Contains((int)Permission.FileView))))
                    {
                        <li class="@Html.Raw(Request.RawUrl.Contains("Media") ? "side-menu-active":"")" >
                            <a href="@Url.Content("~/Media/Index")"><i class="fa fa-fw fa-file-image-o"></i> File Management</a>
                        </li>
                    }
                    @if (RBL.Helpers.Utility.turnOffAuth() || (permmissions != null && (permmissions.Contains((int)Permission.UserAdd) || permmissions.Contains((int)Permission.UserEdit) || permmissions.Contains((int)Permission.UserView))))
                    {
                        var isUser = Request.RawUrl.Contains("User") ? true : false;
                        <li >
                            <a  class="@Html.Raw(isUser?"side-menu-active":"")" href="javascript:;" data-toggle="collapse" data-target="#demo2"><i class="fa fa-fw fa-user"></i> User Management <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="demo2" class="collapse">
                                <li class="@Html.Raw(isUser && Request.RawUrl.Contains("Role")?"side-menu-active":"")">
                                    @Html.ActionLink("Roles", "RoleIndex", "User")
                                </li>
                                <li class="@Html.Raw(isUser && !Request.RawUrl.Contains("Role")?"side-menu-active":"")">
                                    @Html.ActionLink("User", "Index", "User")
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">

            <div class="container-fluid admin-min-height">
                <div class="top-spacing"></div>
                @*<div class="row">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Upload File</li>
                    </ol>
                </div>*@
                
                    @RenderBody()
                </div>
                    <div class="clearfix"></div>

                    <div class="row-10">
                        <footer class="rbl-footer">
                            <div class="container-fluid">
                                <div class="pull-left rbl-copyright-txt">Copyright &copy; @DateTime.Now.Year RBL Bank Ltd. </div>
                                <a href="http://www.i-xltech.com/" target="_blank"><div class="pull-right rbl-designedby-txt">Designed by i-XL Technologies</div></a>
                                <div style="margin:0 auto;">@RBL.Helpers.Constant.version</div>
                            </div>
                        </footer>
                    </div>
                </div>

                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
                @RenderSection("scripts", required: false)
                <script>
                    function logoutAfterConfirm() {
                        var link = '@Url.Content("~/Home/Logout")';
                        var isLogout = window.confirm("Do you Really want to logout");
                        if (isLogout) {
                            window.location.href = link
                        }
                    }
                </script>
            </div>
</body>
</html>
