@media screen and (max-width: 768px){
}
@media screen and (max-width: 767px){
    HTML{
        width: 100%;
        height: auto;
    }
    body{
        width: 100%;
        height: auto;
    }
    .navbar-brand {
        height: auto;
    }
    .rbl-padding-right-15{
        padding-right: 0px;
    }
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #ed373c;
        background-color: #f0f0f0;
    }
    .navbar-inverse .navbar-nav > li > a {
        font-size: 14px;
    }
    .menu-txt {
        padding: 7px 0px 0px 10px;
    }
}
@media screen and (max-width: 425px){
    .rbl-copyright-txt{
        float: none !important;
        font-size: 14px;
    }
    .rbl-designedby-txt{
        padding-top: 20px;
        float: none !important;
        font-size: 12px;
    }
}