HTML{
  width: 100%;
  height: 100%;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  font-weight: 400;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.cell {
  vertical-align: middle;
  display: table-cell;
}
.row-10{
  margin-right: -10px;
  margin-left: -10px;
}
.remove-theme{
  padding: 0px !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}
.remove-padding{
  padding: 0!important;
}
.add-border-radius-left-4{
  -webkit-border-top-right-radius: 4px!important;
  -webkit-border-bottom-right-radius: 4px!important;
  -moz-border-radius-topright: 4px!important;
  -moz-border-radius-bottomright: 4px!important;
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}
.rbl-padding-left-10{padding-left: 10px;}
.rbl-padding-right-10{padding-right: 10px;}
.rbl-padding-right-15{padding-right: 15px;}
.rbl-padding-botton-15{padding-bottom: 15px;}
.rbl-padding-top-botton-15{padding: 15px 0px;}
.rbl-margin-bottom-10{margin-bottom: 10px;}
.rbl-margin-bottom-20{margin-bottom: 20px;}
.rbl-margin-bottom-25{margin-bottom: 25px;}
.rbl-margin-right-15{margin-right: 15px;}
.rbl-padding-5{padding: 5px;}
.rbl-padding-top-40{padding-top: 40px;}
.rbl-add-user-padding-top-10{padding-top: 10px;}
.rbl-add-category-mar-top-21perc{margin-top: 21%;}
.rbl-add-sub-category-mar-top-2perc{margin-top: 2%;}
.rbl-add-rol-mar-top-11perc{margin-top: 11%;}
.rbl-view-category-mar-top-21perc{margin-top: 21%;}
.rbl-checkbox-pd-right-87{padding-right: 87px;}
.btn-margin-left-right {
    margin:0 10px;
}
.text-errr {
    color:red;
    font-size:14px;
}
/*************** upload start ***************/
.dropdown-menu{
  left: inherit;
  right: 0 !important;
}
/*.bg-1 {*/
/*background: url(../images/home-bg.jpg) top center no-repeat;*/
/*-webkit-background-size: 100% 100%;*/
/*-moz-background-size: 100% 100%;*/
/*-o-background-size: 100% 100%;*/
/*background-size: 100% 100%;*/
/*background-attachment: fixed;*/
/*}*/
.navbar-inverse{
  background-image: -webkit-linear-gradient(top, #FFF 0%, #FFF 100%);
  background-image:      -o-linear-gradient(top, #FFF 0%, #FFF 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF));
  background-image:         linear-gradient(to bottom, #FFF 0%, #FFF 100%);
}
.navbar-inverse {
  background-color: #FFF;
  border-color: #e0e1e1;
}
.navbar{
  min-height: 75px;
}

.rbl-footer{
  padding: 12px 0;
  color: #000000;
  font-size: 15px;
  text-align: center;
  background-color: #eae8e7;
  font-weight: 400;
  border-top: 5px solid #d30000;
  border-bottom: 5px solid #193284;
}
.menu-icon{
  padding: 0px !important;
  width: 30px;
  height: 30px;
  border: 1px solid #707070;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.menu-icon:hover,
.menu-icon:focus{
  border: 1px solid #ed373c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.menu-txt{
  position: relative;
  display: block;
  padding: 5px 0px 0px 10px;
}
.menu-txt-logout{
  position: relative;
  display: block;
  padding: 0px 0px 0px 10px;
  line-height: 16px;
}
.login-icon{
  background: url(../images/login-icon.png) center no-repeat;
}
.user-icon{
  background: url(../images/user-icon.svg) center no-repeat;
}
.upload-icon{
  background: url(../images/upload-icon.png) center no-repeat;
}
.pdf-dropdown-m{
  float: left;
  width: 260px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.pdf-dropdown {
  width: 100%;
  height: 48px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent!important;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.pdf-dropdown:focus,
.pdf-dropdown:active:focus,
.pdf-dropdown.active:focus,
.pdf-dropdown.focus,
.pdf-dropdown:active.focus,
.pdf-dropdown.active.focus {
  outline-offset: -2px;
}
.pdf-dropdown:hover,
.pdf-dropdown:focus,
.pdf-dropdown.focus {
  color: #333;
  text-decoration: none;
}
.pdf-dropdown:active,
.pdf-dropdown.active {
  background-image: none;
  outline: 0;
}
.btn-pdf {
  color: #6c6c6c;
  background-color: #fff;
  border-color: transparent;
  outline:none;
}
.btn-pdf:focus,
.btn-pdf.focus {
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}
.btn-pdf:hover{
  color: #6c6c6c;
  background-color: transparent;
  border-color: transparent;
  outline:none;
}

.top-spacing{
  width: 100%;
  height: 75px;
}
.admin-min-height{
  min-height: 597px;
}
.admin-navbar-nav > li > a {
  color: #7b7b7b!important;
  font-size: 14px !important;
  font-weight: 400!important;
  border-bottom: 1px solid #dddddd;
}
.data-container{
  margin-bottom: 20px;
  float: left;
  width: 100%;
  min-height: 400px;
  background: #ffffff;
  border:1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
.upload-file-top-txt{
  margin-bottom: 10px;
  padding: 20px 0px;
  color: #000000;
  font-size: 16px;
  text-align: center;
}
.form-field-title{
  font-size: 18px;
  color: #000000;
  height: 50px;
  line-height: 50px;
  font-weight:normal;
}
.form-field-sub-title{
  padding-right: 20px;
  float: left;
  font-size: 15px;
  color: #000000;
  height: 50px;
  line-height: 50px;
}
.form-field{
  font-size: 18px;
  color: #000000;
  height: 50px;
}
.form-field2{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000000;
  border-bottom: 1px solid #cccccc;
}
.form-field2:last-of-type{
  margin-bottom: 10px;
  border-bottom: 1px solid transparent;
}
.form-field-min-h{
  font-size: 18px;
  color: #000000;
  min-height: 50px;
}
#search_concept5,#search_concept6,#search_concept7 {
  width: calc(100% - 15px);
  float: left;
  text-align: left;
}
.admin-input{
  height: 50px;
}
.admin-input-file{
  float: left;
  display: table;
  height: 50px;
  font-size: 14px;
}
.admin-input-file-txt{
  float: left;
  padding-left: 15px;
  color: #6c6c6c;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
}
.add-more-btn{
  margin-top: 8px;
  float: right;
}
.plus-icon{
  background-color: #f3f3f3;
}
.admin-check-btn{
  float: left;
  padding-right: 20px;
}
.admin-check-txt{
  color: #6c6c6c;
  font-weight: 400;
  font-size: 16px;
}
.admin-check-btn .btn {
  padding: 2px 5px;
}
.admin-check-btn .btn span.glyphicon {
  opacity: 0;
}
.admin-check-btn .btn.active span.glyphicon {
  opacity: 1;
}
.admin-check-btn .btn:active,
.admin-check-btn .btn.active{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.admin-check-btn .btn:active:hover,
.admin-check-btn .btn.active:hover,
.admin-check-btn .btn:active:focus,
.admin-check-btn .btn.active:focus,
.admin-check-btn .btn:active.focus,
.admin-check-btn .btn.active.focus{
  color: #ffffff;
  background-color: #ed3237;
  border-color: #ed3237;
}
.icon-span-filestyle{
  padding-right: 5px;
}
.bootstrap-filestyle{
  margin-top: 7px;
}
.admin-submit-btns{display: table;margin:0px auto;}
.admin-submit-btn{margin-right: 5px!important;border: 1px solid #eeeeee}
.admin-submit-btn:hover,
.admin-submit-btn:focus{
  color: #FFFFFF;
  background: #ed3237;
  border: 1px solid #ed3237;
}
.admin-submit-btns .admin-submit-btn:last-of-type{
  margin-right: 0px!important;
}

.radio-custom {
  width: 80px;
  height: auto;
  float: left;
}
.radio-custom label {
  font-weight: 400;
  display: inline-block;
  position: relative;
  line-height: 18px;
  padding-left: 5px; }
.radio-custom label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out; }
.radio-custom label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio-custom input[type="radio"] {
  opacity: 0; }
/*.radio-custom input[type="radio"]:focus + label::before {*/
  /*outline: thin dotted;*/
  /*outline: 5px auto -webkit-focus-ring-color;*/
  /*outline-offset: -2px; }*/
.radio-custom input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1); }
.radio-custom input[type="radio"]:disabled + label {
  opacity: 0.65; }
.radio-custom input[type="radio"]:disabled + label::before {
  cursor: not-allowed; }
.radio-custom.radio-inline {
  margin-top: 0; }

.radio-danger input[type="radio"] + label::after {
  background-color: #ec3136; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #ec3136; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #ec3136; }


/*************** upload end ***************/

/*************** Home start ***************/
.admin-dashboard-purple{
  background: #6903ae;
}
.admin-dashboard-green{
  background: #5cb85c;
}
.admin-dashboard-yellow{
  background: #f0ad4e;
}
.admin-dashboard-red{
  background: #d9534f;
}
.admin-dashboard-img{
  width: 100%;
  height: auto;
  text-align: center;
  margin: 30px 0 20px 0;
  min-height: 58px;
}
.admin-dashboard-txt{
  text-align: center;
  color: #FFFFFF;
  font-size: 24px;
}
.admin-dashboard-counter{
  width: 100%;
  height: auto;
  margin: 20px 0 30px 0;
  display: flex;
  flex-wrap: wrap; /* optional. only if you want the items to wrap */
  justify-content: center; /* for horizontal alignment */
  align-items: center;
}
.admin-dashboard-round{
  width: 160px;
  height: 160px;
  background: #FFFFFF;
  border-radius: 100%;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 160px;
}
.adr-purple{
  color: #6903ae;
}
.adr-green{
  color: #5cb85c;
}
.adr-yellow{
  color: #f0ad4e;
}
.adr-red{
  color: #d9534f;
}
/*************** Home end ***************/
/*************** Category start ***************/
  table td{
  color: #7b7b7b;
  }
  .admin-button{
    padding: 25px 25px;
    background: #FFFFFF;
    outline: none;
    border: 1px solid #ebebeb;
    margin-bottom: 20px;
    color: #7b7b7b;
    font-size: 15px;
  }
  .fa-mar-5{  margin-right:10px;  }
  .fa-color-blue{ color: #008aff; }
  .fa-color-green{ color: #7ac29a; }
  .fa-color-grey{ color: #676767; }
  .fa-color-orange{ color: #ec6835; }
  .td-width1{ width: 10%; }
  .td-width2{ width: 50%; }
  .td-width3{ width: 20%; }
  .td-width4{ width: 20%; }

/*************** Category end ***************/
/*************** subCategory start ***************/
.sub-img{
    width: 53px;
    height: 35px;
    overflow: hidden;
    margin: 0 auto;
    /*float: left;*/
    text-align: center;
}
.sub-img img{
  width: auto;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  /*margin-top: 7px;
  margin-left: 7px;*/
}
.sub-td-width1{ width: 10%; }
.sub-td-width2{ width: 15%; }
.sub-td-width3{ width: 15%; }
.sub-td-width4{ width: 10%; }
.sub-td-width5{ width: 30%; }
.sub-td-width6{ width: 10%; }
.sub-td-width7{ width: 10%; }
/*************** subCategory end ***************/
/*************** Add user start ***************/
.add-user-form-field{
  font-size: 18px;
  color: #000000;
  height: 50px;
}
/*************** Add user end ***************/
/*************** Add sub category start ***************/
.subcategory-dropdown{
  float: left;
  width: 100%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  -webkit-border-radius: 6px;
}
/*************** Add sub category end ***************/
/*************** file management start ***************/
.file-manage-td-width1{ width: 10%; }
.file-manage-td-width2{ width: 15%; }
.file-manage-td-width3{ width: 15%; }
.file-manage-td-width4{ width: 10%; }
.file-manage-td-width5{ width: 20%; }
.file-manage-td-width6{ width: 15%; }
.file-manage-td-width7{ width: 15%; }
/*************** file management end ***************/
/*************** User management start ***************/
.user-manage-td-width1{ width: 5%; }
.user-manage-td-width2{ width: 20%; }
.user-manage-td-width3{ width: 25%; }
.user-manage-td-width4{ width: 15%; }
.user-manage-td-width5{ width: 10%; }
.user-manage-td-width6{ width: 15%; }
.user-manage-td-width7{ width: 10%; }
/*************** User management end ***************/

.image {
    max-width:100%;
    max-height:100%;
    width:auto;height:auto;
}
.sub-cat-inst {
    float: left;
    height: 50px;
    /*line-height: 50px;*/
    padding-left: 15px;
    padding-top: 6px;
}


.side-menu-active {
    outline: none;
    color: #ed3237!important;
    background-color: #f0f0f0 !important;
}